@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
html,
body {
    background: #fff;
    background-image: url('../images/Web_Background_Blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* background-color: #dbdbdb; */
}
@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../css/fonts/glyphicons-halflings-regular.eot');
    src: url('../css/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../css/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../css/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../css/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised{
	color: #fff;
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
    border-right: 1px solid #2850a7;
    border-left: 1px solid #668bda;
    padding: 8px;
    flex: 1;
}
.md-button.md-ink-ripple{
	color: #fff;
	background-color: #809ad0;
	flex: 1;
	border-top: 0;
    border-bottom: 0;
    border-right: 1px solid #2850a7;
    border-left: 1px solid #668bda;
    padding: 8px;
}
html, body, h1, h2, h3, h4, h5, h6, div, span, p, article, section, a, button audio, video, img{margin: 0; padding: 0; color: #333; font-family: 'robotoregular', "Helvetica Neue", sans-serif;}
.generalbgcolor {
    background-color: #fff !important;
}
.generalfontcolor {
    color: #fff !important;
}
.marginTop20 {
    margin-top: 20px
}
.marginTop40 {
    margin-top: 40px
}
.borderSolid {
    border: 1px solid #ccc
}
.marginTop20 {
    margin-top: 20px
}
.marginTop10 {
    margin-top: 10px
}
.marginTop5 {
    margin-top: 5px
}
.marginLeft5 {
    margin-left: 5px
}
.marginBottom5 {
    margin-bottom: 5px
}
.marginBottom10 {
    margin-bottom: 10px
}
.marginBottom30 {
    margin-bottom: 30px
}
.full-width {
    width: 100%
}
.no-border-radius {
    border-radius: 0;
}
.no-border {
    border-bottom: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0
}
.background-blue {
    background: #269abc;
}
.no-padding {
    padding: 0;
}
.customPadding {
    padding-right: 0;
    padding-left: 0
}
.background-white {
    background-color: #fff
}
/*.logo-img{height:50px;margin-left:55px}*/

.logo-img {
    width: 26%;
}
.login-buttons{margin-top: 14px;}
.box-shadow {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    box-shadow: -1px 1px 6px 0px #DDDDDD;
    -webkit-box-shadow: -1px 1px 6px 0px #DDDDDD;
    -moz-box-shadow: -1px 1px 6px 0px #DDDDDD;
    -o-box-shadow: -1px 1px 6px 0px #DDDDDD;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
}
.color-blue {
    color: #3367d6;
    font-weight: 700;
    line-height: 40px
}
.btn-login {
    border: 1px solid #3367d6;
    background-color: #fff;
    color: #3367d6;
    box-shadow: none;
    width: 90px;
    text-transform: uppercase;
    border-radius: 40px;
}
.btn-login:hover {
    background-color: #3367d6;
    color: #fff
}
.btn-login:focus {
    background-color: #3367d6;
    color: #fff
}
.btn-create {
    border: 1px solid #3367d6;
    background-color: #fff;
    color: #3367d6;
    box-shadow: none;
    text-transform: uppercase;
    border-radius: 40px;
}
.btn-create:hover {
    background-color: #3367d6;
    color: #fff
}
.btn-create:focus {
    background-color: #3367d6;
    color: #fff
}
.tbid-input label {
    font-weight: 700;
    color: #000;
    font-size: 15px;
}
.terms-conditions {
    font-size: 12px
}
img.UploadCtrl {
    margin-bottom: 10px;
}
label.control-label {
    font-weight: normal
}
.terms-condition-text {
    color: #3367d6;
}
.pos-absolute {
    position: absolute;
    right: 5px;
    top: 0px;
}
i.custom-glyphicon {
    float: left;
    margin-right: 4px
}
.icon-label {
    margin-top: 2px;
}
.border-left {
    border-left: 1px solid #e9e9e9
}
.border-right {
    border-right: 1px solid #e9e9e9
}
.p-10 {
    padding-top: 10px;
    padding-bottom: 10px
}
.notificationItemBackgroundRead .notifItemTextColor {
    /* color: #cecece; */

    color: #0b62ed;
}
.notificationItemBackgroundUnRead .notifItemTextColor {
    color: #0b62ed;
}
.notificationheader {
    background: #fff;
    font-weight: 600;
    text-align: left;
    color: #07125d;
    padding: 14px 13px;
    border-bottom: 1px solid #fff5f5;
}
.showmore {
    background: #e6e6e6;
    font-weight: 600;
    text-align: center;
    color: #767886;
    padding: 9px 0px 9px 0px;
}
.showmore:hover {
    background: #e6e6e6;
    font-weight: 600;
    text-align: center;
    color: #0b62ed;
    padding: 9px 0px 9px 0px;
}
.notification-show-more {
    margin-left: 9%;
    margin-right: 9%;
    border: 1px solid #e6e6e6;
    /*border-radius: 4px;*/

    padding: 16px;
    cursor: pointer;
}
.cursorpointer {
    cursor: pointer;
}
.no-text-decoration {
    text-decoration: none !important;
}
.notificationItemBackgroundUnRead .notifshowmoreicons {
    font-size: 24px;
    float: right
}
.notificationItemBackgroundRead .notifshowmoreicons {
    font-size: 24px;
    float: right;
}
.notificationItemBackgroundUnRead .notificon {
    font-size: 20px;
    float: right
}
.notificationItemBackgroundRead .notificon {
    font-size: 20px;
    float: right;
}
.custom-badge {
    padding: 0px 4px;
    font-size: 12px;
    color: #fff;
    background-color: red;
    border-radius: 8px;
    position: relative;
    right: 5px;
}
.notifhover:hover {
    color: #0b62ed;
}
.notifytime {
    color: grey;
    font-size: 12px;
}
.notifytimeshowmore {
    color: grey;
    font-size: 14px;
}
.notifdetailshowmore {
    font-size: 16px;
}
.generalbgnotifcolor {
    background-color: #fff;
}
.generalbgnotifcolor:hover {
    background-color: #efeaea !important;
}
.notifShowMoreHeader {
    margin-left: 7%;
    margin-right: 1%;
}
.notifminivotingicons {
    text-align: center;
    right: -5px;
}
.notifshowmorevotingicons {
    text-align: center;
    font-size: 16px;
}
.textaligncenter {
    text-align: center;
}
.opacityInVisible {
    opacity: 0;
}
/*styles related to changepassword dropdown arrow -START*/

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 8px;
    z-index: 9;
}
/*styles related to changepassword dropdown arrow -END*/
/*styles related to notification bell dropdown arrow -START*/

.dropdown-content-global:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 156px;
    z-index: 10;
}
.dropdown-content-global:after {
    content: "";
    border-bottom: 10px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 156px;
    z-index: 9;
}
/*styles related to notification bell dropdown arrow -END*/

input[type='file'] {
    color: transparent;
}
[src=''] {
    visibility: hidden;
}
.dropdown-menu>li>a {
    cursor: pointer;
    color: black;
    font-weight: 700;
    background: white;
}
.dropdown-menu>li>a:hover {
    cursor: pointer;
    color: #0b62ed;
    font-weight: 700;
    background: white;
}
/*as per client reqm*/

.customAlignSearchBar {
    margin-left: -9.75%;
}
/*as per client reqm*/

.customUserName {
    text-align: left;
    text-decoration: underline;
}
.customUserName:hover {
    text-align: left;
    color: #0b62ed;
    text-decoration: underline;
}
.expandedPostLocationDisplay {
    margin-right: 14px;
    font-size: 13px;
    font-weight: 300;
    color: #999;
    position: absolute;
    bottom: 26px;
}
.expandedPostTimeDisplay {
    margin-right: 14px;
    font-size: 13px;
    font-weight: 300;
    color: #999;
    position: absolute;
    bottom: 6px;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.map-fixed-position {
    position: fixed;
    right: 51px;
    max-width: 222px;
}
.createButton {
  width: 40px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 1px;
}
.font-size-10 {
    font-size: 10px
}
.font-size-12 {
    font-size: 12px
}
.font-size-14 {
    font-size: 14px
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
ul.my-row {
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-left: 15px;
}
ul.my-row li{
	list-style-type: none;
	float: left;
	min-height: 30px;
    line-height: 30px;
}
ul.my-row li a span, ul.my-row li a i{
	color: #fff;
}
/* Custom page header */

.header {
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Helper Classes for UI */
/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}*/

.col-center {
    float: none;
    margin: 0 auto;
}
.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}
.text-center {
    text-align: center;
}
.bottom-column {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}
.padB10 {
    padding-bottom: 10px;
}
.create-post{margin-top: 10px;}
.bottom-bordered {
    border-bottom: 2px solid black;
}
.top-bordered {
    border-top: 2px solid black;
}
.right-bordered {
    border-right: 1px solid #ccc;
}
.left-bordered {
    border-left: 1px solid #ccc;
}
.image-drop {
    background: url('../images/image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px dashed black;
    color: #fff;
    cursor: crosshair;
    width: 88%;
    height: 100%;
    text-align: center;
    margin-left: 6%;
    z-index: -10;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */

    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */

    .jumbotron {
        border-bottom: 0;
    }
}
/* profile image styles*/

.profile-image {
    height: 50px;
}
.profile-image img {
    height: 100%;
    margin-bottom: 7px;
    margin-top: 4px
}
/* profile image styles end*/
/* nav bar styles begin*/

.logo-container .logo {
    /* height: 52px;*/

    height: 100%;
}
.tbid-nav .divider-vertical {
    height: 22px;
    border-left: 1px solid #e5e5e5;
    /* float: left; */

    display: inline;
    opacity: 1;
    margin: 0 10px;
}
.divider-vertical {
    height: 22px;
    border-left: 1px solid #e5e5e5;
    /* float: left; */

    display: inline;
    opacity: 1;
    margin: 0 10px;
}
.tbid-nav .link-container {
    margin-top: 5px;
}
.align-right {
    float: right;
}
/* nav bar styles end*/
/* Post directive style begin*/

.post {
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
/*.post:hover{background-color:#f2f2f2;}*/

.post h1 {
    font-size: 18px;
}
.visual-image-container {
    margin: 10px;
}
.post-image-container {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 5px;
}
.post-expanded .post-image-container {
    width: 115px;
    padding: 25px 15px;
    margin-top: 42px;
}
.post-body-container {
    min-height: 200px;
}
.post-icon {
    padding: 15px;
}
.icon {
    font-size: 20px;
    top: -5px;
}
.post-image-container img {
    width: 100%;
}
.post-expanded {
    background: rgba(242, 242, 242, 0.6);
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
.post-expanded p.post-body {
    text-align: justify;
    margin-left: 15px;
}
.post-expanded hr {
    border-top: 1px solid #ccc;
    margin: 0px;
}
.post-footer {
    padding-bottom: 10px;
}
.tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.tags li {
    float: left;
    /* border: solid; */
    /* border-width: 1px; */
    /* border-color: #999; */

    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    background: #999;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-weight: bolder;
    font-size: 12px;
}
.post-label {
    float: left;
    border: solid;
    border-width: 1px;
    /*border-color: #999;*/

    border-radius: 3px;
    margin-right: 5px;
}
vr {
    border-left: 2px solid #333;
    height: 100%;
}
.post-expanded .votes ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0px 0px 25px;
}
.post-expanded .votes span {
    color: #666;
}
.class-close {
    right: -90px;
    top: 7px;
}
.post-expanded .votes li {
    width: 50px;
    box-sizing: content-box;
    text-align: center;
}
.post-expanded .votes li.vote-count span {
    font-size: 20px;
}
.post-expanded .save-row .save ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0px 0px 35px;
}
.post-expanded .save .plus-item {
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 8px;
    margin: 0;
}
.plus-item-minimized {
    border: 1px solid #000;
    border-radius: 50%;
    margin: 2px;
    padding: 4px 4px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}
.plus-item-minimized_preview {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 4px 4px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}
/*Main Wall - Notification - Saved icon - START*/

.notificationItemBackgroundUnRead .notif-plus-item-minimized {
    border: 1px solid #000;
    border-radius: 55%;
    width: 26px;
    height: 28px;
    padding-left: 5px;
    padding-top: 4px;
    margin-right: -4px;
}
.notificationItemBackgroundRead .notif-plus-item-minimized {
    border: 1px solid #000;
    border-radius: 55%;
    width: 26px;
    height: 28px;
    padding-left: 5px;
    padding-top: 4px;
    margin-right: -4px;
}
/*Main Wall - Notification - Saved icon - END*/
/*Show More - Notification - Saved icon - START*/

.notificationItemBackgroundUnRead .notif-show-more-plus-item-minimized {
    border: 1px solid #000;
    border-radius: 46%;
    padding: 6px;
    margin-top: -1px;
    margin-right: -8px;
    width: 28px;
    height: 31px;
}
.notificationItemBackgroundRead .notif-show-more-plus-item-minimized {
    border: 1px solid #000;
    border-radius: 46%;
    padding: 6px;
    margin-top: -1px;
    margin-right: -8px;
    width: 28px;
    height: 31px;
}
/*Show More - Notification - Saved icon - END*/

.post-expanded .save .plus-count {
    width: 30px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
.plus-item {
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 8px;
    margin: 0;
}
.post-expanded .comments-count {
    color: #666;
    background-image: url('../images/comment.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
/*Main Wall - Notification section - comment icon - START */

.notificationItemBackgroundUnRead .notif-comments-count {
    color: #666;
    background-image: url('../images/notifcomment.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
.notificationItemBackgroundRead .notif-comments-count {
    color: #666;
    background-image: url('../images/notifcomment.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
/*Main Wall - Notification section - comment icon - END */
/*Show More - Notification section - comment icon - START */

.notificationItemBackgroundUnRead .notif-comments-count-minimized {
    color: #666;
    background-image: url('../images/notifcommentmini.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
.notificationItemBackgroundRead .notif-comments-count-minimized {
    color: #666;
    background-image: url('../images/notifcommentmini.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
/*Show More - Notification section - comment icon - END */
/*Show More - Notification section - comment icon - START */

.notificationItemBackgroundUnRead .notif-reply-icon {
    color: #666;
    background-image: url('../images/replyicon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
.notificationItemBackgroundRead .notif-reply-icon {
    color: #666;
    background-image: url('../images/replyicon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
/*Show More - Notification section - comment icon - END */
/*Main Wall - Notification section - comment icon - START */

.notificationItemBackgroundUnRead .notif-reply-icon-minimized {
    color: #666;
    background-image: url('../images/replyicon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
.notificationItemBackgroundRead .notif-reply-icon-minimized {
    color: #666;
    background-image: url('../images/replyicon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
/*Main Wall - Notification section - comment icon - END */
/*Show More - Notification section - push icon - START */

.notificationItemBackgroundUnRead .notif-push-icon {
    color: #666;
    background-image: url('../images/pushicon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 25px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
.notificationItemBackgroundRead .notif-push-icon {
    color: #666;
    background-image: url('../images/pushicon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 38px;
    height: 30px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
/*Show More - Notification section - push icon - END */
/*Main Wall - Notification section - push icon - START */

.notificationItemBackgroundUnRead .notif-push-icon-minimized {
    color: #666;
    background-image: url('../images/pushicon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 25px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
.notificationItemBackgroundRead .notif-push-icon-minimized {
    color: #666;
    background-image: url('../images/pushicon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 41px;
    height: 32px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
/*Main Wall - Notification section - push icon - END */

.post-expanded .comment-body {
    padding: 10px;
    height: 39px;
    overflow-y: auto;
    top: 7px;
    right: 2px;
}
.main .post {
    margin-bottom: 10px;
}
/*Post directive style end*/

.tbid-input {
    padding: 0px;
    padding-bottom: 10px;
    /*border-radius: 10px;
    border: solid;
  border-width: 1px;
  border-color: #ccc;
  background-color: #d9edf7;*/
}
.input-error {
    padding-bottom: 10px;
}
.input-error input {
    border-style: solid;
    border-width: 1px;
    border-color: #a94442;
}
.input-error .error-message {
    color: #a94442;
}
.tbid-input input {
    outline: none;
}
/* Create Post directive style begins */

.create-post-container hr {
    /*border-top: 2px solid #333; */

    margin: 10px;
}
.create-post-container {
	margin-top: 10px;
    background-color: #fff;
}
.create-post-container .titlebar {
    padding: 10px 0px;
    position: relative;
}
.create-post-container .titlebar i{margin-right: 3px;}
.create-post-container .post-meta,
.create-post-container .post-content {
    min-height: 202px;
}
.create-post-container .titlebar .type-descr img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.create-post-container textarea {
    resize: none;
}
.create-post-container .post-button {
    margin-top: 25px;
}
.create-post-container ul.label-list li {
    list-style-image: none;
    list-style: none;
    margin: 6px 8px;
    float: right;
}
.create-post-container ul.types-list li {
    list-style: none;
    margin: 1px 1px;
    background-color: #337ab7;
    border: 1px solid;
    border-color: #5b6bde;
    border-radius: 5px;
    background-color: #337ab7;
    width: 15%;
}
.create-post-container ul.types-list li.active{
    border-color: #010f70;
    background-color: #0a4e89;
}
.create-post-container ul.types-list li a,
.create-post-container ul.types-list li a:hover,
.create-post-container ul.types-list li a:active,
.create-post-container ul.types-list li a:visited,
.create-post-container ul.label-list li a,
.create-post-container ul.label-list li a:hover,
.create-post-container ul.label-list li a:active,
.create-post-container ul.label-list li a:visited {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.create-post-container ul.types-list li i,
.post-meta .post-type i {
	font-size: 17px;
    right: -7px;
    vertical-align: middle;
    top: 7px;
}
.create-post-container ul.label-list li i {
    font-size: 17px;
    right: -7px;
    vertical-align: middle;
    top: 7px;
    width: 20px;
}
.create-post-container .label-list-container ul.label-list li i {
    font-size: 17px;
    right: 0;
    vertical-align: middle;
    top: 0;
    width: 20px;
}
.create-post-container ul.label-list li a,
.create-post-container ul.label-list li a:hover,
.create-post-container ul.label-list li a:visited,
.create-post-container ul.label-list li a:active {
    color: #666;
}
.create-post-container ul.label-list li a.enabled {
    color: black;
}
.glyphiconTop {
    top: 5px !important;
}
.post-meta .post-type {
    margin-top: 5px;
}
.post-meta .post-type .enabled {
    color: black;
}
.to-from-container label {
    padding: 5px;
}
/* Create Post directive style ends */

.error {
    border-style: solid;
    border-width: 1px;
    border-color: #f00;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #FAA;
    color: #f00;
    font-weight: 100;
}
/*Custom loader styles begin*/

.loader-container {
    height: 0px;
}
#floatingBarsG {
    position: relative;
    width: 60px;
    height: 75px;
    margin: auto;
    z-index: 991;
    top: 200px
}
#infinitefloatingBarsG {
    position: relative;
    width: 60px;
    height: 75px;
    /*margin:auto;*/

    z-index: 991;
    left: 300px;
}
.background-cover {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 990;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #000;
    opacity: .85;
}
.blockG {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 23px;
    z-index: 1000;
    border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    animation-name: fadeG;
    -o-animation-name: fadeG;
    -ms-animation-name: fadeG;
    -webkit-animation-name: fadeG;
    -moz-animation-name: fadeG;
    animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}
#rotateG_01 {
    left: 0;
    top: 27px;
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
#rotateG_02 {
    left: 8px;
    top: 10px;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
#rotateG_03 {
    left: 25px;
    top: 3px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#rotateG_04 {
    right: 8px;
    top: 10px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
#rotateG_05 {
    right: 0;
    top: 27px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
#rotateG_06 {
    right: 8px;
    bottom: 7px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}
#rotateG_07 {
    bottom: 0;
    left: 25px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
#rotateG_08 {
    left: 8px;
    bottom: 7px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
}
@keyframes fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}
@-o-keyframes fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}
@-ms-keyframes fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}
@-webkit-keyframes fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}
@-moz-keyframes fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}
/*Custom loader styles end*/
/*RPM - START*/

.post-expanded .votes li.close-post span {
    font-size: 16px;
    margin-right: -40px;
}
.post .postNotExpandedTitle {
    font-size: 18px;
    /*  margin-left: 26px;
    margin-top: 27px;*/
}
.post .visualTitle {
    font-size: 18px;
    align: left;
}
h1.visualTitle,
h1.postNotExpandedTitle {
    margin-top: 10px
}
.post .post-icon {
    font-size: 52px;
    margin-left: -8px;
}
.post-expanded .save-row {
    /*position: absolute;*/

    bottom: 0px;
    padding: 10px 0px;
}
.post-expanded .post-expanded-body-title {
    font-size: 19px;
    font-weight: bolder;
    /*margin-left: -4px;
    margin-top: 40px; */

    margin-left: auto;
}
.post-expanded .post-expanded-body {
    font-size: 14px;
    min-height: 66px;
    max-height: 128px;
    overflow-y: auto;
    margin-left: auto;
}
.post-expanded .post-expanded-body::-webkit-scrollbar {
    display: none;
}
.post-expanded .upVote-pushRemaining-style {
    margin-top: 4%;
    width: 38px;
    left: 83px;
    position: absolute;
    z-index: 1000;
}
.upVote-nsfwRemaining-style {
    margin-top: 6%;
    width: 38px;
    left: 73px;
    position: absolute;
}
.post-expanded .votes li a.enabled {
    font-color: #666;
}
.button-style-post {
    border: none;
    background: #e5e5e5;
}
.commentOfPost {
    font-size: 12px;
    /* border: 1px solid;*/

    margin-left: 3px;
    /*margin-right: 20px;*/

    margin-right: 5px;
    max-height: 55px;
    margin-bottom: 10px;
    padding: 6px 10px 3px 18px;
}
.comment-expanded-post-body-title {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 83px;
    margin-top: 40px;
    word-wrap: inherit;
}
.post-expanded .comment-expanded-image-container {
    width: 74px;
    padding: 2px 15px;
    margin-top: 6px;
    margin-left: -11px;
}
.comment-expanded .votes ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0px 0px 25px;
}
.to-from {
    text-align: right;
    position: relative;
    left: 30%;
}
.newReplyCommentTextField {
    width: 100%;
    height: 70px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
.newReplyCommentTextFieldNotif {
    width: 212px;
    height: 34px;
    font-size: 14px;
}
.newReplyCommentTextButton {
    height: 25px;
    width: 50px;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 8px;
    padding-top: 4px;
}
.replyCommentLikeStyle {
    /*if reqd to be added*/
}
.commentsSection {
    height: 268px;
    overflow-y: auto;
    /*made changes as the voting buttons were not aligning in case of scroll bar visibility*/

    overflow-x: hidden;
    margin-right: 10px;
}
.commentsSection_NotifScreen {
    height: 324px;
    overflow-y: auto;
    /*made changes as the voting buttons were not aligning in case of scroll bar visibility*/

    overflow-x: hidden;
}
.commentsEntryVote_NotifScreen {
    list-style-type: none;
    font-size: 8px;
    margin-top: -40px;
    margin-bottom: 10px;
    margin-left: 151px;
    float: right;
}
.commentsEntryVote_NotifScreen .vote-count {
    position: relative;
    margin-right: 7px;
}
.titlePreviewCommentsSection {
    margin-top: 30px;
}
.postCommentExpandMessages {
    width: 98%;
    height: 40px;
    margin-left: -13px;
    overflow-y: auto;
    font-size: 14px;
}
.upvoteDownvoteClickcase .downVoteClick {
    margin-top: 50px;
    left: 51px;
    float: right;
    position: relative;
    z-index: 1000;
}
.postLabelImage {
    margin-top: 38px;
}
.postLabelEventImage {
    margin-top: 32px;
}
.postLabelEventWhen {
    width: 72%;
    /*for create post date added*/
}
.goBackToEditButton {
    margin-top: 26px;
    margin-left: 40px;
}
.customized-error-message {
    color: #a94442;
    width: 138%;
}
.customized-error-message-general {
    color: #a94442;
    margin-top: -10px;
}
.customized-error-message-small {
    color: #e50e0a;;
    display: inline-block;
    font-size: 17px;
}
.customized-error-message-changepassword {
    color: #a94442;
    width: 138%;
    position: relative;
    bottom: 8px;
    left: 14px;
}
.image-upload-createPost {
    /*margin-top : 36px;*/
}
.image-upload-createPost > input {
    /*display: none;*/
}
.toFromPostLabelScreen {
    margin-left: 19%;
    margin-bottom: 2%;
}
.customMiniToFrom {
    position: relative;
    top: -10px;
}
.post-minimized-body-To {
    font-size: 14px;
    word-wrap: break-word;
    color: #999;
    position: relative;
    top: -10px;
}
.post-minimized-body-To-only {
    font-size: 14px;
    margin-left: 60%;
    word-wrap: break-word;
    color: #999;
    position: relative;
    top: -10px;
}
.post-minimized-body-From {
    font-size: 14px;
    word-wrap: break-word;
    color: #999;
    position: relative;
    top: -10px;
}
.post-minimized-body-From-only {
    font-size: 14px;
    margin-left: 60%;
    word-wrap: break-word;
    color: #999;
    position: relative;
    top: -10px;
}
.post-minimized-visualbody-To {
    font-size: 14px;
    word-wrap: break-word;
    color: #999;
    position: relative;
    top: -10px;
}
.post-minimized-visualbody-To-only {
    font-size: 14px;
    margin-left: 52%;
    word-wrap: break-word;
    color: #999;
    position: relative;
    top: -10px;
}
.post-minimized-visualbody-From {
    font-size: 14px;
    word-wrap: break-word;
    color: #999;
    position: relative;
    top: -10px;
}
.post-minimized-visualbody-From-only {
    font-size: 14px;
    margin-left: 52%;
    word-wrap: break-word;
    color: #999;
    position: relative;
    top: -10px;
}
.post-expanded .post-expanded-body-To {
    font-size: 14px;
    margin-left: 24%;
    word-wrap: break-word;
    color: #999;
}
.post-expanded .post-expanded-body-To-only {
    font-size: 14px;
    margin-left: 60%;
    word-wrap: break-word;
    color: #999;
}
.post-expanded .post-expanded-body-From {
    font-size: 14px;
    word-wrap: break-word;
    color: #999;
}
.post-expanded .post-expanded-body-From-only {
    font-size: 14px;
    margin-left: 60%;
    word-wrap: break-word;
    color: #999;
}
.post-expanded .post-expanded-visualbody-To {
    font-size: 14px;
    margin-left: 12%;
    word-wrap: break-word;
    color: #999;
}
.post-expanded .post-expanded-visualbody-To-only {
    font-size: 14px;
    margin-left: 52%;
    word-wrap: break-word;
    color: #999;
}
.post-expanded .post-expanded-visualbody-From {
    font-size: 14px;
    word-wrap: break-word;
    color: #999;
}
.post-expanded .post-expanded-visualbody-From-only {
    font-size: 14px;
    margin-left: 52%;
    word-wrap: break-word;
    color: #999;
}
.labelName {
    border-radius: 5px;
    /* margin-right: 10px; */

    margin-top: 5px;
    background: #999;
    padding-left: 3px;
    padding-right: -19px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-weight: bolder;
    font-size: 11px;
    width: 54px;
    word-break: break-all;
    text-align: center;
}
.labelName_mini {
    border-radius: 5px;
    background: #999;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-weight: bolder;
    font-size: 11px;
    width: 54px;
    word-break: break-all;
    text-align: center;
    position: absolute;
    top: 7px;
    max-height: 47px;
    overflow: hidden;
}
.createPostDoneButton {
    margin-bottom: 8px;
}
.postLabelFromTo {
    margin-left: 15%;
    margin-bottom: 2%
}
/*Toggle Switch - START */

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 14px;
    top: 6px;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 12px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}
input:checked + .slider {
    background-color: #337ab7;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */

.slider.round {
    border-radius: 34px;
    width: 126%;
}
.slider.round:before {
    border-radius: 50%;
}
/*Toggle Switch - END */

.followSection {
    border: 1px solid black;
    padding: 22px 4px 16px 15px;
}
.followInsiderButton {
    margin-left: 5%;
}
.followInsiderSection {
    margin-left: 18%;
}
.followToggle {
    margin-top: 1px;
}
.post-footer-tagExpand {
    padding-bottom: 10px;
    padding-top: 14px;
    margin-left: 4%;
}
.textboxTagsInput {
    width: 100%;
    /* margin-right: 4%;
    margin-left: 1%; */
}
/*Styles related to Create Post - VISUAL - Image Drag and Upload functionality - START */

.image-dragupload-createPost {
    margin-top: -202px;
    margin-left: 2px;
}
.imgDragUploadOptions {
    margin-top: -142px;
    margin-left: 57px;
    font-size: 251%;
    /*  display: none;*/
}
.image-dragupload-createPost .imgDragUploadOptions > input {
    opacity: 0;
    /* to hide the file folder opener icon and the fielname text beside it.*/

    font-size: 58px;
    margin-left: -32px;
    z-index: -5;
    margin-top: -16px;
    width: 104%;
}
.imageDragUploadSection {
    width: 55%;
    height: 152px;
    margin-left: 20%;
    margin-top: -52%;
    position: relative;
}
.imgDragUploadOptions {
    margin-top: 0px;
}
.customized-error-message-drag-image-upload {
    color: #a94442;
    width: 138%;
    margin-left: 8%;
    /* margin-bottom: 11px; */

    position: relative;
    bottom: 0px;
}
/*Styles related to Create Post - VISUAL - Image Drag and Upload functionality - END */

.minifiedPostStyle {
    text-align: left;
    font-weight: 300;
    color: #808080;
}
.SunMoonIcons {
    /*border: 1px solid black;*/

    position: relative;
    float: right;
}
.SunMoonIcons img {
    margin: 4px 5px;
    float: right;
}
.MainScreenTypeStyle {
    float: right;
    border: 1px solid #ccc;
}
.MainScreenTypeStyle ul {
    margin: 0;
    padding: 0 0 0 5px;
    background: #fff;
}
.displayCriteriaDropdown {
    /* width: 40%;
    margin-left: 80%; */
}
.notificationIconButton {
    margin-bottom: 2%;
    margin-left: 86%;
    background: url('../temp/notification.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1%;
}
.notificationIconButton .notificationCountColor {
    font-color: red;
}
/* HTML 5 notification styles - START */

.notificationIconButton {
    margin-bottom: 2%;
    margin-left: 86%;
    background: url('../images/notification.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1%;
}
/* Dropdown Button */

.notificationDropButton {
    background: url('../images/notification.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 650px;
    outline-style: none;
}
.notificationDropButtonGlobal {
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline-style: none;
    margin-left: -138px;
    margin-top: 11px;
    background-color: transparent;
}
.notificationDropButtonGlobal span{font-size: 25px; margin-top: 6px;}
.notificationsCount {
    color: #337ab7;
    /* float : right; */

    position: relative;
    right: 115px;
}
/* Dropdown button on hover & focus */

.notificationDropButton:hover,
.notificationDropButton:focus {
    background-color: white;
    outline-style: none;
}
/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 92%;
    width: 50%;
}
/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}
/*NOTIFICATIONS ICON IN TOP HEADER - START*/
/* Dropdown Content (Hidden by Default) */

.dropdown-content-global {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 5px 28px 0 rgba(14, 29, 64, 0.85);
    z-index: 1;
    width: 350px;
    /*margin-left: -203px;
    margin-top: 9px;*/
    top: 52px;
    right: -48px;;
}
/* Links inside the dropdown */

.dropdown-content-global a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid lightgrey;
}
/* Change color of dropdown links on hover */

.dropdown-content-global a:hover {
    background-color: #f1f1f1
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.showglobal {
    display: block;
}
/*NOTIFICATIONS ICON IN TOP HEADER - END*/

.notificationIconScroll {
    /* max-height: 500px; */

    max-height: 572px;
    /* overflow-x : hidden;*/

    cursor: pointer;
}
.notificationItemBackgroundRead {
    /*color: #c0c0c0;*/

    background-color: #fff;
}
.notificationItemBackgroundUnRead {
    /*color: #333;*/

    background-color: #e8f2fb;
}
.notification-show-more .notificationItemBackgroundRead {
    background-color: #fff !important;
}
.notification-show-more .notificationItemBackgroundUnRead {
    background-color: #e8f2fb !important;
}
.notificationTimeDisplay {
    color: grey;
    font-size: 50%;
}
.hidebuttonNotificationSection {
    opacity: 0;
}
.notifCommentSectionContainer {
    width: 103%;
}
.replyCommentLikeStatusLiked, .replyCommentLikeStatusNotLiked {
    color: #0080ff;
    outline-style: none;
    background-color: transparent;
    border: 0;
}
.replyCommentLikeStatusNotLiked {
    color: #333;
    outline-style: none;
}
.ClickedStatusYes {
    color: #0080ff;
    outline-style: none;
}
.ClickedStatusNo {
    color: #333;
    outline-style: none;
}
/* HTML 5 notification styles - END */

.feedWorldViewSection {
  border: 0px solid black;
  width: 100%;
  height: 270px;
  margin-top: 0px;
}


.feedWorldViewSection #map {
    height: 100%;
    width: 100%;
}
.gm-style-cc {
    display: none;
    /*inorder to hide the details loaded at the bottom of maps.*/
}
.mapPositionStyle {
    float: right;
    margin-right: -38%;
}
#map a img {
    display: none;
}
.posttagsSection {
    height: 38px;
    overflow-y: auto !important;
}
.changePasswdBtnGrp {
    margin-left: 0%;
}
.mintextwidth {
    width: 50%;
}
a.settingsStyle {
    text-decoration: none;
    font-size: 26px;
    position: relative;
    top: 10px;
    /*color: #337ab7;*/
}
.post-image-container-expanded {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.commentEntryFieldSection {
    /*margin-left:1px;*/
}
.reply-image {
    width: 20px;
    /*height: 90%;*/

    margin-left: 4%;
}
.textDisplayRHSMiniPost {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
    margin-right: 14px;
}
.textDisplayRHSMiniPostVote {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
}
.textDisplayRHSMiniPostIcon {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: url('../images/comment.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
.textDisplayRHSMiniPreviewIcon {
    font-size: -15px;
    margin-bottom: 2px;
    background-image: url('../images/notifcommentmini.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    text-align: center;
    box-sizing: border-box;
    height: 20px;
    padding: 0;
}
.textDisplayRHSMiniPush {
    font-size: -15px;
    margin-bottom: 2px;
    /* margin-top: 10px; */

    background-image: url('../images/pushiconmini.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    text-align: center;
    box-sizing: border-box;
    height: 20px;
    padding: 0;
}
.textDisplayRHSMiniPreviewIcon_vote {
    margin-top: -4px;
    font-size: 13px;
}
.typeSet {
    position: relative;
    left: 20px;
}
.previewSet {
    position: relative;
    left: 28px;
}
.textDisplayRHSMiniPreviewIcon_save {
    font-size: 13px;
    position: relative;
    top: 4px;
}
.typeImgDisplayRHSMiniPost {
    margin-top: 10px;
    margin-bottom: 20px;
}
.showTypeIconMiniPost {
    margin-top: 10px;
    margin-bottom: 10px;
}
.minimizedPostAlignment {
    position: relative;
    top: 20px;
}
.minimizedPostAlignment-following {
    position: relative;
    top: 6px;
}
.minimizedPostAlignment-comments-count {
    color: #666;
    background-image: url('../images/comment.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
.expandedPostGeneralImage {
    height: 30px;
}
.tagAddButton {
    height: 30px;
    cursor: pointer;
}
.minimizedPostGeneralImage {
    height: 20px;
}
.categoryFilterStyle {
    padding: 0%;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}
.categoryBtn {
    font-size: 16px;
    width: 14%;
    margin: 0%;
    float: left;
    background-color: #5785cc;
    border-color: #5785cc;
}
.categoryBtn:active {
    font-size: 16px;
    width: 14%;
    margin: 0%;
    float: left;
    background-color: #045fef;
    border-color: #045fef;
}
.noidsearchmsg {
    margin-left: 50px;
}
*:focus {
    outline: 0;
    outline: none;
}
.remainingChars {
    color: grey;
    font-size: 10px;
    text-align: right;
}
/* STYLES FOR SCREEN WIDTH : 1366px  - START*/

@media (max-width: 1366px) {
    .MainScreenTypeStyle {
        float: left;
        border: 1px solid black;
        margin-left: 36.5%;
        margin-top: 34%;
        background-color: white;
    }
    /* .SunMoonIcons {
		position: relative;
	    bottom: -50px;
	    left: 54%;
	    width: 60%;
	} */

    .SunMoonIcons {
        position: relative;
        bottom: 0px;
        left: 1%;
        width: 76%;
    }
    .displayTime {
        margin-left: unset
    }
    .inner-div {
        width: 20%;
        float: left;
    }
    /*.active{
    vertical-align: top;
    padding-top: 8px;
  }*/

    .div1 {
        border: 0.1px solid #000;
        height: 28px;
        width: 83px;
        margin-right: -4px;
        padding-left: 2px;
    }
    .active {
        border: 2px solid;
        border-color: #5b6bde;
        border-radius: 5px;
        background-color: #337ab7;
        width: 14%;
    }
    .scroll {
        background: red;
        overflow: scroll;
    }
}
/* STYLES FOR SCREEN WIDTH : 1366px  - END*/
/* STYLES FOR SCREEN WIDTH : 1280px  - START*/

@media (max-width: 1280px) {
    .MainScreenTypeStyle {
        float: left;
        border: 1px solid black;
        margin-left: 12%;
        margin-top: 45%;
        background-color: white;
    }
    .SunMoonIcons {
        position: relative;
        bottom: -48px;
        left: 38%;
        width: 67%;
    }
}
/* STYLES FOR SCREEN WIDTH : 1280px  - END*/
/* STYLES FOR SCREEN WIDTH : 1024px  - START*/

@media (max-width: 1024px) {
    .MainScreenTypeStyle {
        float: left;
        border: 1px solid black;
        margin-left: 40%;
        margin-top: 48%;
        background-color: white;
    }
    .SunMoonIcons {
        position: relative;
        bottom: -48px;
        left: 62%;
        width: 72%;
    }
}
/* STYLES FOR SCREEN WIDTH : 1024px  - END*/
/* STYLES FOR SCREEN WIDTH : 967px  - START*/

@media (max-width: 967px) {
    .MainScreenTypeStyle {
        float: left;
        border: 1px solid black;
        margin-left: -6%;
        margin-top: 57%;
        background-color: white;
    }
    .SunMoonIcons {
        position: relative;
        bottom: -48px;
        left: 37%;
        width: 97%;
    }
}
/* STYLES FOR SCREEN WIDTH : 967px  - END*/
/* STYLES FOR SCREEN WIDTH : 768px  - START*/

@media (max-width: 768px) {
    .post-image-container-expanded {
        position: relative;
        top: 30%;
        right: 0;
        bottom: 0;
        left: 5%;
        max-width: 24%;
    }
}
/* STYLES FOR SCREEN WIDTH : 640px  - END*/
/* STYLES FOR SCREEN WIDTH : 640px  - START*/

@media (max-width: 640px) {
    .dropdown-content-global {
        display: none;
        position: absolute;
        background-color: #fff;
        /* min-width: 160px;*/

        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 300px;
        margin-left: -275px;
    }
    .post-image-container-expanded {
        position: relative;
        top: 30%;
        right: 0;
        bottom: 0;
        left: 5%;
        max-width: 34%;
    }
}
/* STYLES FOR SCREEN WIDTH : 640px  - END*/
/* STYLES FOR SCREEN WIDTH : 480px  - START*/

@media (max-width: 480px) {
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-left: 70%;
        width: 50%;
    }
    .dropdown-content-global {
        display: none;
        position: absolute;
        background-color: #fff;
        /* min-width: 160px;*/

        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 300px;
        margin-left: -275px;
    }
    .reply-image {
        width: 6%;
        /*height: 90%;*/

        margin-left: 2%;
    }
    .categoryBtn {
        font-size: 14px;
        width: 14%;
        margin: 0%;
        float: none;
        align: center;
    }
    .btn-group-horizontal {
        display: none;
    }
    .commentEntryFieldSection {
        margin-left: 6px;
    }
    .post-image-container-expanded {
        position: relative;
        top: 30%;
        right: 0;
        bottom: 0;
        left: 5%;
        width: 50%;
    }
}

@media (max-width: 360px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .post-expanded .post-expanded-body {
        font-size: 12px;
        width: 99%;
        height: 201px;
        overflow-y: auto;
        margin-left: 2%;
    }
    .img-responsive {
        width: 100%;
        height: auto;
        margin-left: 25%;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-left: 60%;
        width: 50%;
    }
    .dropdown-content-global {
        display: none;
        position: absolute;
        background-color: #fff;
        /* min-width: 160px;*/

        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 300px;
        margin-left: -275px;
    }
    .reply-image {
        width: 5%;
        /*height: 90%;*/

        margin-left: 2%;
    }
    .categoryBtn {
        font-size: 12px;
        width: 14%;
        margin: 0%;
        float: none;
        align: center;
    }
    .btn-group-horizontal {
        display: none;
    }
    .commentEntryFieldSection {
        margin-left: 6px;
    }
}



.to-from-details {
    margin-bottom: 10px;
    bottom: 0px;
    right: 160px;
    position: absolute;
}
.to-from-details span{color: #028ae2;
    font-weight: 700;}
.to-from-details span:first-child {
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
}
.button-close {
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 17px;
    font-weight: bold;
}
.type {
    position: absolute;
    right: 37px;
    top: 43px;
    padding: 1px 15px;
    background-color: #028ae2;
    border-radius: 27px;
    border: 1px solid #08507f;
    color: #fff;
    font-weight: 700;
}
.post-review-details {
    position: absolute;
    bottom: 29px;
    right: 10px;
}
.like-buttons {
    background: url("../images/arrow.png") no-repeat;
    display: inline-block;
    width: 18px;
    height: 24px;
    position: relative;
}
.like-buttons span,
.total-comments span {
    top: 28px;
    position: absolute;
    width: 100%;
    text-align: center;
}
.total-comments span {
    top: 24px;
}
.plus-sign {
    font-size: 24px;
    margin: 0 2px;
}
/*.total-comments{
    border: 1px solid #000;
    border-radius: 2px;
    margin-left: 2px;
    width: 22px;
    height: 22px;
    position: relative;
    display: inline-block;
}*/

.plus-sign span {
    font-size: 15px;
    top: 30px;
    position: absolute;
    text-align: center;
    display: inline-block;
    width: 100%;
    left: 0;
    font-family: "Helvetica Neue", sans-serif;
}
.post-created-by {
    position: absolute;
    left: 142px;
    bottom: 10px;
    color: #0275d8;
    font-weight: 700;
    font-style: italic;
}
.post-items .post-avatar {
    width: 115px;
    height: 115px;
    float: left;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #797979;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.post-items .post-avatar img {
    width: 100%;
    height: 100%;
}
.post-items .post-content {
    padding-right: 180px;
}
.post-items .post-content p {
    text-align: justify;
}
.post-items .post-content h4 {
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
    font-size: 16px;
}
.post-date {
    position: absolute;
    top: 11px;
    right: 15px;
    font-weight: 700;
}
.post-time {
    font-weight: 700;
}
.post-icons {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 10px;
    top: 44px;
}
.visual-icon {
    background: url("../images/icon-general.png") no-repeat;
    background-size: cover;
}
.picture-icon,
.right-arrow-icon,
.calander-icon,
.question-icon {
    font-size: 25px;
}
.bold-font {
    font-weight: 700;
}
.position-relative {
    position: relative;
}
.recover-margin {
    margin: 15px 0;
}
.bg-color-style {
      border-radius: 4px;
    padding: 10px;
    /* margin-left: -12px;
    margin-right: -80px; */
}
.bg-color-style h4 {
    margin-top: 0;
}
.total-comments {
    background-image: url('../images/comment.png');
    display: inline-block;
    height: 20px;
    width: 22px;
    position: relative;
    background-size: cover;
}
.push-icon {
    background-image: url('../images/pushiconmini.png');
    margin-left: 2px;
    display: inline-block;
    height: 20px;
    width: 22px;
    position: relative;
    background-size: cover;
}
.push-icon span {
    position: absolute;
    width: 100%;
    top: 26px;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
}
.padding0 {
    padding: 0;
}
.main .post-expanded {
    padding: 15px;
}
.relative-post-comment-container{
    background-color: #f7f7f7;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.relative-post-comment-container-inner{
	margin-left: 0;
	margin-right: 0;
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.section-left{
	width: 150px;
	float: left;
	margin-right: 10px;
}
.individual-post-image{
	width: 150px;
	height: 150px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.individual-post-image img{width: 100%; height: 100%;}
.middle-section{
	float: left;
	margin-right: 20px;
	flex: 1;
}
.middle-section p{text-align: justify;margin-top: 10px}
.section-right{
	float: right;
	text-align: center;
	width: 27px;
	margin-top: 20px;
  margin-left: 30px;
}
.comment-right-tools button{
	background-color: transparent;
	border: 0;
    padding: 0;
    font-size: 27px;
    outline: 0 !important;
}
.vote-counter{
	font-size: 17px;
	color: #000;
	font-weight: 700;
}
.margin-top20px{
	margin-top: 20px;
}
.individual-post-to-from-details{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
}
.individual-post-by{
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
}
.individual-post-to-from-details span, .individual-post-by span{
	font-size: 14px;
	font-weight: 700;
	color: #0275d8;
}
.individual-post-to-from-details span:first-child, .individual-post-by span:first-child{
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #ccc;
}
.btn-close span{
	position: absolute;
	top: -8px;
	right: 10px;
	color: #333;
	opacity: 1;
}
.close.btn-close:focus span, .close.btn-close:hover span{
	opacity: 1;
	color: #000;
}

/*  background-image: url('../images/comment.png');
    display: inline-block;
    height: 20px;
    width: 22px;
    border: 1px solid #000;
    text-align: center;
    position: relative;
    background-size: cover;
    line-height: 25px;
	margin-right: 5px; */

.total-no-of-comments{
	background-image: url('../images/comment.png');
    display: inline-block;
    width: 25px;
    height: 24px;
    right: -24px;
    text-align: center;
    position: relative;
    background-size: cover;
}
.individual-comment-post-footer{
	overflow: hidden;
	display: flex;
}
.individual-comment-post-footer div.comment-post-footer--left, .individual-comment-post-footer div.comment-post-footer--middle, .individual-comment-post-footer div.comment-post-footer--right{
	border-right: 1px solid #ccc;
	padding: 0 10px 0 10px;
}
.individual-comment-post-footer div.comment-post-footer--right{
	border-right: 0 !important;
	padding-right: 0
}
.individual-comment-post-footer div.comment-post-footer--left{display: flex; padding-left: 0;}
.individual-comment-post-footer .titles {
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 10px;
}
.comment-post-footer--left .no-of-comments{
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}
.comment-post-footer--left .no-of-comments + .comments{
	float: left;
	width: 400px;
	text-align: justify;
}
.comment-post-footer--middle{min-width: 350px;}
.comment-post-footer--left .no-of-comments + .comments .no-comments{
	display: block;
	text-align: center;
}
.posted-bt-username{
	font-weight: 700;
	position: absolute;
	top: 4px;
	right: 0;
	color:#0275d8;
	font-style: italic;
}
.follow-down-arrow{
  background-image: url('../images/down-arrow-icon.png');
}
.individual-comment-post-footer div.comment-post-footer--middle .tags, .comment-post-footer--right .tags{
  padding: 1px 5px 1px 5px;
  background-color: #028ae2;
  border: 1px solid #08507f;
  color: #fff;
  border-radius: 44px;
  display: inline-block;
  text-align: center;
  margin: 0 2px 5px;
  display: inline-block;
}
.individual-comment-post-footer div.comment-post-footer--middle .tags span{
	color: #fff;
	display: inline-block;
	margin-bottom: 10px;
	background-color: #0275d8;
	border-radius: 50px;
	padding: 1px 8px;
	font-size: 14px;
	line-height: 20px;
}
.comment-post-footer--right .tags{float: left; margin-right: 10px;}
.individual-comment-post-footer div.comment-post-footer--right .tags span{
	color: #fff;
	display: inline-block;
	margin-bottom: 10px;
	background-color: #0275d8;
	border-radius: 50px;
	padding: 1px 8px;
	font-size: 14px;
	line-height: 20px;
}
.comment-titles{
	font-size: 14px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
}
.visual-icon{
	background: url("../images/icon-general.png") no-repeat;
	background-size: cover;
	display: inline-block;
	width: 25px;
	height: 25px;

}
.uparrow {
    font-size: -15px;
    margin-bottom: 2px;
    /* margin-top: 10px; */

    background-image: url('../images/pushiconmini.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    text-align: center;
    box-sizing: border-box;
    height: 20px;
}
.middle-section.position-relative p.overflow-y{
	height: 100px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 0 10px 20px 0px;
}
.padding0{
	padding: 0;
}
/* .total--of-comments span {
    top: -1px;
} */
.comments span.titles{
	display: inline;
	margin-bottom: 0;
}
.comments span.titles i{font-style: initial;}
.comments span.more-comments{
	height: 60px;
    display: inline-block;
    overflow-y: scroll;
    padding-right: 10px;
    width: 100%;
}

/* New Styling :: Start */
.up-vote-icons, .down-vote-icons{
  position: absolute;
  top: 8px;
  left: -20px;
  color: #0275d8;
}
.up-vote-icons span, .down-vote-icons span{
  color: #333;
  position: absolute;
  top: 0px;
  left: -14px;
  font-weight: 700;
}
.section-add-new-tags{
  border-top: 1px solid #ccc;
  overflow: hidden;
}
.section-add-new-tags label{
  float: left;
  margin-right: 20px;
  line-height: 46px;
}
.section-add-new-tags textarea{
  width: 470px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: 1px solid #ccc;
  float: left;
}
.section-add-new-tags button.add-tags{
  background-color: #fff;
  border: 1px solid #0275d8;
  color: #0275d8;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 9px;
  margin-left: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.section-add-new-tags button.add-tags:hover{
  background-color: #0275d8;
  border: 1px solid #07355d;
  color: #fff;
}
.following-tooltip{
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 99;
  position: absolute;
  width: 50%;
  top: 35px;
  right: -16px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(204,204,204,1);
  box-shadow: 0px 0px 5px -1px rgba(204,204,204,1);
}
.user-name-tooltip{
  color: #0275d8;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
}
.following-buttons{
  width: 70px;
  background-color: #0275d8;
  padding: 5px 0;
  text-align: center;
  border: 1px solid #084273;
  border-radius: 70px;
  position: relative;
  height: 23px;
  margin-top: 7px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
.following-buttons{
  width: 70px;
  background-color: #0275d8;
  padding: 5px 0;
  text-align: center;
  border: 1px solid #084273;
  border-radius: 70px;
  position: relative;
  height: 23px;
  margin-top: 7px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
.following-buttons input[type="radio"]{
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  outline: 0;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.open-discussion-radio span.checked-radio, .following-buttons .open-discussion-radio input[type="radio"]{
  left: 10px;
  top: 3px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
.following-buttons input[type="radio"]:checked + span.checked-radio {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
}
.following-buttons .survey-radio input[type="radio"]:checked + span.checked-radio{
  right: 10px;
  top: 3px;
}
.notification-container{
  margin: 25px 0px;
  overflow: hidden;
}
.post-notification-label{
  line-height: 30px;
  margin-right: 50px;
  font-weight: 700;
}
.align-left{float: left;}
.notification-details{
  float: right;
  border: 1px solid #0275d8;
  background-color: #0275d8;
  color: #0275d8;
  padding: 4px 15px;
  margin-top: 27px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.following-btn {
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  border: 0;
}
.notification-details.following{
  background-color: #0275d8;
  border: 1px solid #084273;
  /*color: #fff;*/
  border-radius: 14px;
}
.worldMap{
  position: relative;
  overflow: hidden;
  border: 1px solid;
  border-radius: 4px;
}
.mapToggleButtons {
   position: absolute;
   top: 4px;
   left: 15px;
}
.mapType {
   border: 1px solid #c4c4c4;
   background-color: #e7e7e7;
   border-radius: 2px;
   margin-right: 10px;
   padding-top: 3px;
   height: 23px;
   margin-top: 10px;
   position: relative;
}

.linkTitle{
  color: #028ae2;
  text-decoration: none;
  word-break: break-all;
  font-size: 14px;
}
a:hover {
  text-decoration: none;
}

.label-icon{
  margin-top: 8px;
}
.margin0{margin: 0;}
.background-color-white{
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);

	}
.post-item{
	border: 1px solid #ccc;
	/* margin-bottom: 20px; */
	padding: 0 15px;
	margin-top: 8px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	/* padding: 15px; */
	clear: both;
	-webkit-box-shadow: -1px 0px 8px 0px rgba(204,204,204,1);
    -moz-box-shadow: -1px 0px 8px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 4px 0px rgba(204,204,204,1);
}
.navbar{margin-bottom: 0px;}
.padding-top5{padding-top: 5px;}
.top-main-navigation{
	background-color: #3367d6;
    padding: 0;
    display: flex;
    border-radius: 5px;
}
.top-main-navigation button{flex: 1; color: #fff; border: 1px solid transparent; border-color: #2e6da4; padding: 6px 12px;}
.top-main-navigation button:first-child{border-left: 0;}
.top-main-navigation button:last-child{border-right: 0;}
.filter-type{
	float: right;
	width: 150px;
    position: relative;
}
.filter-type input.MainScreenTypeButton{
	border-bottom: 0;
	border-color: transparent;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	float: left;
	height: 30px;
	text-align: left;
	line-height: 16px;
}
.filter-type ul{
	position: absolute;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    top: 30px;
}
.filter-type ul li span:first-child{display: flex; margin: 4px 0;}
.down-arrow{
	display: inline-block;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 7px solid #5e5e5e;
    position: absolute;
    top: 13px;
    right: 9px;
}
.all-off-post{margin-right: 20px;}
.post-filter-items{
	margin-top: 4px;
    padding-bottom: 5px;
 
}
.common-section{
	/*border: 1px solid #3e8dc0;*/
    border-radius: 4px;
    display: inline-block;
    padding: 3px;
}
.recent-filter{
	float: right;
    width: 150px;
    margin-left: 20px;
}

.recent-filter select{
	height: 30px;
	padding: 0 12px;
}
.main-post-container{margin-top: 20px;}
.margin-top5{
	margin-top: 5px;
	margin-left: 32px;
	margin-right: -28px;
}
.height60{height: 60px;}
.clear-both{clear: both;}
.margin-bottom30{margin-bottom: 30px;}
/* New Styling :: End */
/* Comment Section :: Start */
.relative-post-comment-container{
	background-color: #f7f7f7;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.back-to-post {
    color: #333;
    font-size: 14px;
    font-weight: 700;
}
.commentBox{
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
    margin-bottom: 10px;
    min-height: 60px;
    position: relative;
    padding-right: 25px;
}
.commentsEntryVote {
    list-style-type: none;
    font-size: 14px;
    text-align: center;
	padding: 0;
    position: absolute;
    right: 0;
    top: -4px;
}
.margin-top20{margin-top: 20px;}
.blue-font-color{color: #0275d8;}
.comment-voting-icon{
	border: 0;
	background-color: transparent;
}
.btn-reply, .btn-reply:focus, .btn-reply:active, .btn-reply:hover{
	display: inline-block;
    font-size: 13px;
    font-style: italic;
    position: absolute;
    background-color: #0275d8;
    color: #fff;
    padding: 2px 8px;
    border: 1px solid #2850a7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    bottom: -23px;
    left: 0;
}
.commented-by{
    position: absolute;
    bottom: 6px;
    right: 30px;
}
.replay-comment, .replay-comment:hover, .replay-comment:active, .replay-comment:focus{
	display: inline-block;
    font-size: 13px;
    font-style: italic;
    background-color: #0275d8;
    color: #fff;
    padding: 2px 8px;
    border: 1px solid #2850a7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    float: right;
}
.replies{
	padding-top: 10px;
    border-top: 1px solid #ccc;
    margin-top: 35px;
}
.comment-post-info{
	overflow: hidden;
    margin-bottom: 15px;
}
.comment-post-info img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.comment-post-info h4 {
    font-weight: 700;
    font-size: 16px;
}
span.post-comment-by-user{
	margin-top: 15px;
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    color: #0275d8;
    display: inline-block;
    width: 100%;
}
.comment-right-section{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #828282;
	padding-right: 50px;
}
.section-comment-entry h4{
	font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.section-comment-entry textarea{
	width: 100%;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button-save, .button-save:hover, .button-save:active, .button-save:focus{
	display: inline-block;
    font-size: 18px;
    background-color: #0275d8;
    color: #fff;
    padding: 3px 8px;
    border: 1px solid #2850a7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    float: right;
}
.button-save span{color: #fff; font-size: 14px;}
.right-section-controllers{
	position: absolute;
    top: 0;
    right: 10px;;
}
.right-section-controllers ul{padding: 0; text-align: center; font-size: 20px;}
.right-section-controllers ul li{list-style-type: none; height: 24px;}
.right-section-controllers button{
	border: 0;
	background-color: transparent;
	font-size: 25px;
}
.comments-count{
	background-image: url(../images/comment.png);
    display: inline-block;
    width: 32px;
    height: 32px !important;
    text-align: center;
    position: relative;
    background-size: cover;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 24px;
}
.plus-item-icon .glyphicon{
	font-size: 24px;
}
.haeder-section{
    height: 100%;
    width: 100%;
    margin-top: -2px;
    border-radius: 6px;
}
.google-map{
    padding-bottom: 10px;
    border-bottom: 1px solid #93b3c9;
}
.heat-map div[dir="ltr"]{
	width: 100% !important;
}
.padding-top15{padding-top: 15px;}
.close-create-post i{
	top: 10px;
	right: 15px;
	cursor: pointer;
}
.fixed-nav {
    background-color: #f9f7f9;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    width: 100%;
    padding: 0 15px;
    z-index: 999;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.padding-top65{padding-top: 65px;}
.profile-pics img{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.following-tooltip .top-arrow:before{
	content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -22px;
    right: 0px;
    z-index: 10;
}
.following-tooltip .top-arrow:after{
	content: "";
    border-bottom: 11px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -23px;
    right: -2px;
    z-index: 9;
}
.username-underline{
	text-decoration: underline;
    color: #337ab7;
    font-size: 18px;
}
.confirmbox{
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 99;
  position: absolute;
  right: 25%;
  /*top: 25%;*/
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(204,204,204,1);
  box-shadow: 0px 0px 5px -1px rgba(204,204,204,1);
}
.addtagsbox{
  border-top: 1px solid #ccc;
  overflow: hidden;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 99;
  position: absolute;
  right: 25%;
  top: 5%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(204,204,204,1);
  box-shadow: 0px 0px 5px -1px rgba(204,204,204,1);
}
.addtagsbox label{width: 95%}
.addtagsbox input{width: 500px}
.addtagsbox div{margin-top: 10px}
.confirmbox-label {
    line-height: 52px;
    /* margin-right: 50px; */
    font-weight: 700;
}
.popout
{
    display:inline-block;
    border:0;
    width:196px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.popout:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
.top-post-small
{
    height: 90px;
    background-color:white;
    border: solid;
    border-width: .5px;
    /*position: relative;
    left: -100px;
    margin-bottom:15px;
    top: -11px;*/
}
.top-post-small-col
{
    float: left;
    width: 33.3%;
    padding-right:1px;
    padding-left:1px
}
.top-post-small-text
{
    text-align: left;
    font-size: 10px;
}
.top-post-small-img
{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: 84px;
    height: 84px;
    padding-top: 3px;
}
.inline-img-list{
	text-align: center;
}
.about-us-margin{
	margin-left: 100px;
	margin-right: 100px;
}
.fit-parent{
	width:100%
}
.sidebar-text{
	border: 1px;
	border-style: solid;
	height: 270px;
	background-color: white;
	margin-right: 10px;
}
/* Comment Section :: End */
