<div class="row" ng-if="rootData.isLoggedIn">



	<div class="col-sm-12 box-shadow generalbgcolor" style="width: 1110px;margin-left: 30px;">
		<div class="row">
			  <div style="text-align:center;margin-top:20px;margin-bottom:20px;" class="col-lg-11">
		   			<h1>TheBigId</h1>
		   			<h4>-brought to you by two recent college graduates-</h4>
		 	  </div>
		</div>
		<br>
		<div class="row alert alert-danger" role="alert"
			ng-show="rootData.error">
			<!-- <span class="glyphicon glyphicon-remove"></span> --> {{rootData.error}}
		</div>
			<p class="about-us-margin" style="text-align:justify;font-size:17px">
			Out of our own curiosity to learn from others, engage with people we would not normally be given the opportunity to, 
			and better understand what people think and feel in a method that respects their privacy, we formulated and developed 
			TheBigId: a new Social Knowledge platform. TheBigId puts users in charge of populating, rating and moderating, and developing 
			content (id's) shared on the platform; all in all, the individual id's on the site, their categorization, identifying tags, 
			locations of origin, rating, and content, come together to populate TheBigId. The platform's sole source of content is from 
			users and therefore, the success, and creation that is TheBigId depends heavily on user participation and collaboration. 
			We hope you will join this Internet Social Experiment - let's see where it takes us! On TheBigId, every user counts, and 
			each one of their inputs is magnified by the power of the platform - users are able to publish their ideas to the public, 
			going beyond the limited scope of their friends/following lists, reaching a global audience. Developing on our perception 
			that current social media platforms over glorify individualism, careful decisions have been made in the construction of TheBigId 
			to make the content itself the focal point of readership; what matters most on our platform is what is said, and not 
			necessarily who said what. Join us as we embark on a collective journey of sharing, connecting, and growing.
			</p>
			<br>
			<p class="about-us-margin" style="text-align:justify;">
				Please share thoughts, suggestions, issues, or anything else with us at <b>contact@thebigid.com</b>
			</p>
			<br>

		
		<div class="row about-us-margin"  >
			<div class="col-sm-3 inline-img-list">
				<img class="img-responsive img-thumbnail fit-parent" src="images/avatar2.png"/>
			</div>
			<div class="col-sm-3 inline-img-list">
				<img class="img-responsive img-thumbnail fit-parent"  src="images/avatar3.png"/>
			</div>
			<div class="col-sm-3 inline-img-list">
				<img class="img-responsive img-thumbnail fit-parent"  src="images/avatar4.png"/>
			</div>
			<div class="col-sm-3 inline-img-list">
				<img class="img-responsive img-thumbnail fit-parent"  src="images/user-avater.png"/>
			</div>
		</div>

		
		<div class="col-lg-12 about-us-margin" style="margin-top:15px">
			<div class="text-center">
				<button user-enter-key-press="callEnterFunc($event)" ng-click="reloadMainWall();clearFlagsOnPageLoad();" class="btn btn-create pull-left">Back</button>
			</div>
		</div>

	</div>
</div>
