<div class="col-sm-12 top-main-navigation" align="center">

	<!-- <md-button type="checkbox" class="md-primary"
		ng-repeat="category in categoryList"
		ng-checked="checkSelected(category);"
		ng-click="toggleSelection(category);"
		ng-class="{'md-primary': checkSelected(category),'md-raised' : checkSelected(category)}">
	{{category | capitalize}} </md-button> -->
	
	<button type="button" class="btn btn-primary"
		ng-repeat="category in categoryList"
		ng-checked="checkSelected(category);"
		ng-click="toggleSelection(category);"
		ng-class="{'btn btn-primary': checkSelected(category),'md-raised' : checkSelected(category)}">
			{{category | capitalize}}</button>	
	
	<!-- <button type="button" class="btn btn-primary">Primary</button> -->

</div>