<div class="row" ng-if="rootData.isLoggedIn">



  <div class="col-lg-4 col-lg-offset-4 box-shadow generalbgcolor">
  
  <div class="row">
  		<div class="col-lg-11">
		   <h4>Change Password</h4>
		 </div>
  </div>

  <div class="row alert alert-danger textaligncenter" role="alert" ng-show="rootData.error">
    <!-- <span class="glyphicon glyphicon-remove" ></span> --> {{rootData.error}}
  </div>
  
  
  <div class="col-lg-12 marginTop20">
    <tbid-input
      ng-model = "data.oldpassword"
      showtbidtextfield="yes"
      check="check()"
      placeholder="Old Password"
      resource-type="old_password"
      resource-name = "old_password"
      is-passsword = "true"
      focus-me = "false"
    ></tbid-input>
  </div>

  <div class="col-lg-12">
    <tbid-input
      ng-model = "data.newpassword"
      showtbidtextfield="yes"
      check="check()"
      placeholder="New Password"
      resource-type="new_password"
      resource-name = "new_password"
      is-passsword = "true"
    ></tbid-input>
  </div>
 <span class="row customized-error-message-changepassword" ng-show="oldNewPwdSameError">Old and New Passwords can not be same</span>

  <div class="col-lg-12">
    <tbid-input
      ng-model = "data.reenternewpassword"
      showtbidtextfield="yes"
      check="check()"
      placeholder="Re-enter New Password"
      resource-type="reenter_new_password"
      resource-name = "reenter_new_password"
      is-passsword = "true"
    ></tbid-input>
  </div>
  <span class="row customized-error-message-changepassword" ng-show="doesntmatchError">Re-entered Password does not match the New Password</span>


  <div class="col-lg-12">
    <div class="text-center">
        <button user-enter-key-press="callEnterFunc($event)" ng-click="reloadMainWall();clearFlagsOnPageLoad();" class="btn btn-create pull-left">Back</button>
   		 <button user-enter-key-press="callEnterFunc($event)" ng-click="doSubmitPassword();" ng-disabled="!doneButtonEnabled" class="btn btn-create pull-right">Done</button>
    </div>
  </div>

  </div>
</div>
