<div class="row" ng-if="rootData.isLoggedIn">



	<div class="col-lg-4 col-lg-offset-4 box-shadow generalbgcolor">
		<div class="row">
			  <div class="col-lg-11">
		   			<h4>Change Avatar</h4>
		 	  </div>
		</div>
		<br>
		<div class="row alert alert-danger" role="alert"
			ng-show="rootData.error">
			<!-- <span class="glyphicon glyphicon-remove"></span> --> {{rootData.error}}
		</div>

		<div ng-controller="UploadCtrlPostLogin">
			<form action="">
				<div class="col-lg-12 text-center profile-pics">
					<img ng-src="{{profilepicture}}" alt=""  width="60%"
						class="UploadCtrl">
				</div>
				<div class="col-lg-12 text-center">
					<label for="files" class="btn btn-primary" style="margin-left: 10px">Change Avatar</label> 
						<input my-upload-postlogin id="files" style="visibility: hidden;" type="file" name="upload">
				</div>
			</form>
		</div>

		<div class="col-lg-12">
			<div class="text-center">
				<button user-enter-key-press="callEnterFunc($event)" ng-click="reloadMainWall();clearFlagsOnPageLoad();" class="btn btn-create pull-left">Back</button>
				<button user-enter-key-press="callEnterFunc($event)" ng-click="changeAvatarSubmission();" class="btn btn-create pull-right" ng-disabled="changedProfilePicture===''">Done</button>
			</div>
		</div>

	</div>
</div>
