<div>

<!--  NEW POST scenario - START  -->
	<a ng-href="" ng-class="{'notificationItemBackgroundRead': (notifyreadstatus === 'Read'),'notificationItemBackgroundUnRead' : (notifyreadstatus === 'NEW')}"
	   ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')" ng-if="notifyaction === 'NEWPOST'">
			<div class="row">
			   <div class="col-lg-10 col-md-10 col-sm-10">
			       <i><b class="notifhover" ng-click="usernameClicked($event,notifbyuserid)">{{notifbyuser}}</b></i> has <i>created</i> an id <b class="notifItemTextColor notifhover" ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')">{{notifyposttitle|truncate:40}}</b>.
			    </div>
			   <div class="col-lg-2 col-md-2 col-sm-2"><span class="glyphicon glyphicon-edit notificon" style="float:right"></span></div>
			</div>
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 notifytime" ng-init="formatDateToDisplay(notifytime)">{{displayTimeInfo}}</div>
			</div>
	</a> 
<!--  NEW POST scenario - END  -->	

<!--  NSFW scenario - START  -->			 
	<a ng-href="" ng-class="{'notificationItemBackgroundRead': (notifyreadstatus === 'Read'),'notificationItemBackgroundUnRead' : (notifyreadstatus === 'NEW')}"
	   ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')" ng-if="notifyaction === 'NSFW'" >
			<div class="row">
			   <div class="col-lg-10 col-md-10 col-sm-10">
			   		Your id <b class="notifItemTextColor notifhover" ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')">{{notifyposttitle|}}</b> has been marked as <b>NSFW</b>.
			   </div>
			   <div class="col-lg-2 col-md-2 col-sm-2"><span class="glyphicon glyphicon-warning-sign notificon" style="float:right"></span></div>
			</div>	
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 notifytime" ng-init="formatDateToDisplay(notifytime)">{{displayTimeInfo}}</div>
			</div>					
	</a>
<!--  NSFW scenario - END  -->

<!--  NEW COMMENT scenario - START  -->			 
	<a ng-href="" ng-class="{'notificationItemBackgroundRead': (notifyreadstatus === 'Read'),'notificationItemBackgroundUnRead' : (notifyreadstatus === 'NEW')}"
	   ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostCommentSection')" ng-if="notifyaction === 'NEWCOMMENT'" >
			<div class="row">
			   <div class="col-lg-10 col-md-10 col-sm-10"> 
			   		<i><b class="notifhover" ng-click="usernameClicked($event,notifbyuserid)">{{notifbyuser}}</b></i> has <i> commented</i> on your id <b class="notifItemTextColor notifhover" ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')" ng-if="notifyaction === 'NEWCOMMENT'">{{notifyposttitle|truncate:40}}</b>.
			   </div>
			   <div class="col-lg-2 col-md-2 col-sm-2"><span class="notif-comments-count-minimized" style="float:right"></span></div>
			</div>	
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 notifytime" ng-init="formatDateToDisplay(notifytime)">{{displayTimeInfo}}</div>
			</div>
	</a>
<!--  NEW COMMENT scenario - END  -->	
 
 
<!--  NEW REPLY scenario - START  -->	
	<a ng-href="" ng-class="{'notificationItemBackgroundRead': (notifyreadstatus === 'Read'),'notificationItemBackgroundUnRead' : (notifyreadstatus === 'NEW')}"
	   ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostCommentSection')" ng-if="notifyaction === 'REPLY'" >
			<div class="row">
			   <div class="col-lg-10 col-md-10 col-sm-10">
			        <i><b class="notifhover" ng-click="usernameClicked($event,notifbyuserid)">{{notifbyuser}}</b></i> has <i>replied</i> to your comment on id <b class="notifItemTextColor notifhover" ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')">{{notifyposttitle|truncate:40}}</b>.
			   </div>
			   <div class="col-lg-2 col-md-2 col-sm-2"><span class="notif-reply-icon-minimized" style="float:right"></span></div>
			</div>	
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 notifytime" ng-init="formatDateToDisplay(notifytime)">{{displayTimeInfo}}</div>
			</div>			
	</a>
<!--  NEW REPLY scenario - END  -->	


<!--  NEW FOLLOW scenario - START  -->	
	<a ng-href="" ng-class="{'notificationItemBackgroundRead': (notifyreadstatus === 'Read'),'notificationItemBackgroundUnRead' : (notifyreadstatus === 'NEW')}"
	   ng-if="notifyaction === 'FOLLOWING'" ng-click="updateReadStatus(notifyid);">
			<div class="row">
			   <div class="col-lg-10 col-md-10 col-sm-10">
			        <i><b class="notifhover" ng-click="usernameClicked($event,notifbyuserid)">{{notifbyuser}}</b></i> is <i>following</i> you.
			   </div>
			   <div class="col-lg-2 col-md-2 col-sm-2"><span class="glyphicon glyphicon-eye-open notificon" style="float:right"></span></div>
			</div>	
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 notifytime" ng-init="formatDateToDisplay(notifytime)">{{displayTimeInfo}}</div>
			</div>					
	</a>
<!--  NEW FOLLOW scenario - END  -->	

<!--  SAVED scenario - START  -->
	<a ng-href="" ng-class="{'notificationItemBackgroundRead': (notifyreadstatus === 'Read'),'notificationItemBackgroundUnRead' : (notifyreadstatus === 'NEW')}"
	   ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')" ng-if="notifyaction === 'SHARED'">
		<div class="row">
			   <div class="col-lg-10 col-md-10 col-sm-10">
			        <i><b class="notifhover" ng-click="usernameClicked($event,notifbyuserid)">{{notifbyuser}}</b></i> has <i>saved</i> your id <b class="notifItemTextColor notifhover" ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')">{{notifyposttitle|truncate:40}}</b>.
			   </div>
			   <div class="col-lg-2 col-md-2 col-sm-2"><span class="notif-plus-item-minimized" style="float:right"><i class="glyphicon glyphicon-plus"></i></span></div>
	    </div>	
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 notifytime" ng-init="formatDateToDisplay(notifytime)">{{displayTimeInfo}}</div>
			</div>	
	</a> 
<!--  SAVED scenario - END  -->

<!--  UPVOTE scenario - START  -->
	<a ng-href="" ng-class="{'notificationItemBackgroundRead': (notifyreadstatus === 'Read'),'notificationItemBackgroundUnRead' : (notifyreadstatus === 'NEW')}"
	   ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')" ng-if="notifyaction === 'LIKE'">
		<div class="row">
			   <div class="col-lg-10 col-md-10 col-sm-10">
			        <i><b class="notifhover" ng-click="usernameClicked($event,notifbyuserid)">{{notifbyuser}}</b></i> has <i>upvoted</i> your id <b class="notifItemTextColor notifhover" ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')">{{notifyposttitle|truncate:40}}</b>.
			   </div>
			   <div class="col-lg-2 col-md-2 col-sm-2"><span class="glyphicon glyphicon-chevron-up notificon" style="float:right"></span></div>
	    </div>	
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 notifytime" ng-init="formatDateToDisplay(notifytime)">{{displayTimeInfo}}</div>
			</div>	
	</a> 
<!--  UPVOTE scenario - END  -->		
		
<!--  DOWNVOTE scenario - START  -->		
	<a ng-href="" ng-class="{'notificationItemBackgroundRead': (notifyreadstatus === 'Read'),'notificationItemBackgroundUnRead' : (notifyreadstatus === 'NEW')}"
	   ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')" ng-if="notifyaction === 'DISLIKE'">
		<div class="row">
			   <div class="col-lg-10 col-md-10 col-sm-10">
			        <i><b class="notifhover" ng-click="usernameClicked($event,notifbyuserid)">{{notifbyuser}}</b></i> has <i>downvoted</i> your id <b class="notifItemTextColor notifhover" ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')">{{notifyposttitle|truncate:40}}</b>.
			   </div>
			   <div class="col-lg-2 col-md-2 col-sm-2"><span class="glyphicon glyphicon-chevron-down notificon" style="float:right"></span></div>
	    </div>	
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 notifytime" ng-init="formatDateToDisplay(notifytime)">{{displayTimeInfo}}</div>
			</div>	
	</a>
<!--  DOWNVOTE scenario - END  -->	 

<!--  PUSH scenario - START  -->
	<a ng-href="" ng-class="{'notificationItemBackgroundRead': (notifyreadstatus === 'Read'),'notificationItemBackgroundUnRead' : (notifyreadstatus === 'NEW')}"
	   ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')" ng-if="notifyaction === 'PUSH'">
		<div class="row">
			   <div class="col-lg-10 col-md-10 col-sm-10">
			        <i><b class="notifhover" ng-click="usernameClicked($event,notifbyuserid)">{{notifbyuser}}</b></i> has <i>pushed</i> your id <b class="notifItemTextColor notifhover" ng-click="updateReadStatus(notifyid);openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')">{{notifyposttitle|truncate:40}}</b>.
			   </div>
			   <!-- <div class="col-lg-2 col-md-2 col-sm-2"><span class="glyphicon glyphicon-hand-up notificon" style="float:right"></span></div> -->
			    <div class="col-lg-2 col-md-2 col-sm-2"><span class="notif-push-icon-minimized" style="float:right"></span></div>
	    </div>	
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 notifytime" ng-init="formatDateToDisplay(notifytime)">{{displayTimeInfo}}</div>
			</div>			
	</a> 
<!--  PUSH scenario - END  -->		

<!--  VOTE DETAILS scenario - START  -->
	<a ng-href="" ng-class="{'notificationItemBackgroundRead': (notifyreadstatus === 'Read'),'notificationItemBackgroundUnRead' : (notifyreadstatus === 'NEW')}"
	   ng-click="updateGroupReadStatus(notifyidgrp);$parent.notifyreadstatus='Read';" ng-if="notifyaction === 'VOTED'">
		<div class="row">
			   <div class="col-lg-10 col-md-10 col-sm-10" ng-init="initToolTipContent()">
			        <i ng-show="notifybyppl.length === 1"><b class="notifhover" data-toggle="tooltip" data-html="true" title="{{notifypplnames}}">{{notifybyppl.length}} person</b></i>
			        <span data-ng-if="notifybyppl.length === 1"> has <i>voted</i> on your id <b class="notifItemTextColor notifhover" ng-click="updateGroupReadStatus(notifyidgrp);$parent.notifyreadstatus='Read';openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')">{{notifyposttitle|truncate:40}}</b>.</span>
			        <i ng-show="notifybyppl.length > 1"><b class="notifhover" data-toggle="tooltip" data-html="true" title="{{notifypplnames}}">{{notifybyppl.length}} people</b></i>
			      <span data-ng-if="notifybyppl.length > 1">have <i>voted</i> on your id <b class="notifItemTextColor notifhover" ng-click="updateGroupReadStatus(notifyidgrp);$parent.notifyreadstatus='Read';openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')">{{notifyposttitle|truncate:40}}</b>.</span>
			        
			   </div>
			   <div class="col-lg-2 col-md-2 col-sm-2 notifminivotingicons">
			   		<div class="row"><div class="col-lg-12 col-md-12 col-sm-12"><span class="glyphicon glyphicon-chevron-up"></span></div></div>
			   		<div class="row"><div class="col-lg-12 col-md-12 col-sm-12"><span class="glyphicon glyphicon-chevron-down"></span></div></div>
			   </div>
	    </div>	
			<!-- <div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 notifytime" ng-init="formatDateToDisplay(notifytime)">TIME</div>
			</div>	 -->		
	</a> 
<!--  VOTE DETAILS scenario - END  -->

<!--  SAVE CONSOLIDATED scenario - START  -->
	<a ng-href="" ng-class="{'notificationItemBackgroundRead': (notifyreadstatus === 'Read'),'notificationItemBackgroundUnRead' : (notifyreadstatus === 'NEW')}"
	   ng-click="updateGroupReadStatus(notifyidgrp);$parent.notifyreadstatus='Read';" ng-if="notifyaction === 'SAVECONSOLIDATED'">
		<div class="row">
			   <div class="col-lg-10 col-md-10 col-sm-10" ng-init="initToolTipContent()">
			        <i ng-show="notifybyppl.length === 1"><b class="notifhover" data-toggle="tooltip" data-html="true" title="{{notifypplnames}}">{{notifybyppl.length}} person</b></i>
			        <i ng-show="notifybyppl.length > 1"><b class="notifhover" data-toggle="tooltip" data-html="true" title="{{notifypplnames}}">{{notifybyppl.length}} people</b></i>
			         has <i>saved</i> your id <b class="notifItemTextColor notifhover" ng-click="updateGroupReadStatus(notifyidgrp);$parent.notifyreadstatus='Read';openNotificationItem('/notificationDetailDisplay',notifypostid,'displayPostSection')">{{notifyposttitle|truncate:40}}</b>.
			   </div>
			   <div class="col-lg-2 col-md-2 col-sm-2"><span class="notif-plus-item-minimized" style="float:right"><i class="glyphicon glyphicon-plus"></i></span></div>
	    </div>	
			<!-- <div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10 notifytime" ng-init="formatDateToDisplay(notifytime)">TIME</div>
			</div>	 -->		
	</a> 
<!--  SAVE CONSOLIDATED scenario - END  -->
</div>
