    <div class="post-item" data-ng-if="openUnlargePost" class="" data-ng-click="postExpention(false,true,false);loggedPostRead(data.id);clickPost();showreplies=false;resetPostErrors();expandpost(data.id);" id="position{{data.id}}">
		<div class="row">
                <div class="col-md-12 generalbgcolor bg-color-style position-relative">
                <div class="post-items">
                    <div class="post-avatar"><img ng-src="{{data.imgPathDisplay}}" class="Avatar image" /></div>
                    <div class="post-content">
                        <h4 data-ng-if="data.postType === 'LINK'"><a href="data.title" class="linkTitle" target="_blank">{{data.title |truncate:titleCharCount}}</a></h4>
                        <h4 data-ng-if="data.postType === 'EVENT'">{{data.title |truncate:titleCharCount}} : {{data.eventDate | date:'MMMM dd yyyy'}}</h4>
                        <h4 data-ng-if="data.postType !== 'EVENT' && data.postType !== 'LINK'">{{data.title |truncate:titleCharCount}}</h4>
                        <span></span><span></span>
                        <p>{{data.body|truncate:300}}</p>
                        <div class="to-from-details"><span data-ng-show="data.toField !== null && data.toField.length > 0">To: {{data.toField | truncateToFrom:18}}</span><span data-ng-show="data.fromField !== null && data.fromField.length > 0">From: {{data.fromField | truncateToFrom:18}}</span></div>
                    </div>
                    <div class="post-created-by text-capitalize"> - {{data.username}}</div>
                    <div class="post-right-info">
                        <span class="post-date">{{formatDateToDisplay(data.postCreatedTime)}}</span>
                        <span data-ng-show="data.postCategory !== '____'" class="type">{{data.postCategory}}</span>
                        <span data-ng-show="data.postCategory === '____'" class="type">{{data.postUserInputCategory}}</span>
                        <!-- <span class="post-icons visual-icon"></span> -->

                        <span data-ng-if="data.postCategory !== '____'" class="post-icons icon glyphicon"
											            data-ng-class="{
                                        'visual-icon': data.postType === 'GENERAL',
					            						      'glyphicon-arrow-right': data.postType==='LINK',
					            						      'glyphicon-question-sign': data.postType==='QUESTION',
					           							      'glyphicon-picture': data.postType==='VISUAL',
					            						      'glyphicon-calendar': data.postType==='EVENT'

					          						  }">
						            </span>
                        <div class="post-review-details">
                            <span class="like-buttons"><span>{{data.voteDetails.voteCount|| 0}}</span></span>
                            <span class="glyphicon glyphicon-plus-sign plus-sign"><span>{{data.saveCount || 0}}</span></span>
                            <span class="total-comments"><span>{{data.comments.length}}</span></span>
                            <span class="glyphicon push-icon"><span>{{data.voteDetails.pushCount}}</span></span>
                        </div>
                    </div>

                </div>
                </div>
                </div>
	</div>

	<div data-ng-if="openLargePost" ng-init="comment = false;checkVoteDefaultCase()" id="">
	<div>
    <div class="col-xs-12 padding0">
        <div class="height20"></div>
        <div class="main-post-container">

			<!-- Please add the below HTMML only in your page :: Start -->
            <!-- Comments :: Start -->
          <div class="relative-post-comment-container">
                <div class="relative-post-comment-container-inner row position-relative">
					            <button type="button" ng-click="postExpention(true,false,false)" class="close btn-close" aria-label="Close">
					                    <span aria-hidden="true">&times;</span>
					            </button>
					      <div class="section-left">
                      <div class="individual-post-image"><img ng-src="{{data.imgPathDisplay}}" alt="post image"></div>
					      </div>
					<div class="middle-section position-relative">
            <h4 data-ng-if="data.postType === 'LINK'"><a href="data.title" class="linkTitle" target="_blank">{{data.title |truncate:titleCharCount}}</a></h4>
            <h3 data-ng-if="data.postType === 'EVENT'">{{data.title |truncate:titleCharCount:25}} : {{data.eventDate | date:'MMM dd yyyy'}}</h3>
            <h3 data-ng-if="data.postType !== 'EVENT' && data.postType !== 'LINK'">{{data.title |truncate:titleCharCount:25}}</h3>
			<p data-ng-if="data.body.length > 500" class="overflow-y">{{data.body}}</p>
			<p data-ng-if="data.body.length < 500">{{data.body}}</p>
            <span class="posted-bt-username" ng-click="(!checkOwnerOfThePost(data.userId))?showFollowNotifySection=true:''" data-ng-show="data.anonymous==false">-<a href="javascript:void(0)" class="username-underline text-capitalize">{{data.username}}</a>
            </span>
						<div class="individual-post-to-from-details"><span data-ng-show="data.toField !== null && data.toField.length > 0">To: {{data.toField | truncateToFrom:18}}</span><span data-ng-show="data.fromField !== null && data.fromField.length > 0">From: {{data.fromField | truncateToFrom:18}}</span></div>
						<div class="individual-post-by">
							<span ng-show="data.location !== null"></span><span class="post-location"><b>Location:</b> {{data.location}}</span>
							<span class="post-time">{{formatDateToDisplay(data.postCreatedTime)}}</span>
						</div>
            <div class="following-tooltip" ng-show="showFollowNotifySection">
              <div class="position-relative">
              	<div class="top-arrow"></div>
                <span class="glyphicon glyphicon-menu-left" ng-click="showFollowNotifySection=false;clearFollowSectionFlags();"></span>
               <!--  <span class="user-name-tooltip"> - {{data.username}}</span> -->
                <div class="notification-container">
                  <div class="align-left">
                    <span class="post-notification-label">Post Notifications</span>
                    <div class="following-buttons">
											<span class="open-discussion-radio">
												<input id="open-discussion" type="radio" name="participate-as" checked="" ng-click="updateNotificationForUserPost(data.userId,data.postNotification,data.id)">
												<span class="checked-radio"></span>
											</span>
                      <span class="survey-radio">
												<input id="survey" type="radio" name="participate-as" ng-click="updateNotificationForUserPost(data.userId,data.postNotification,data.id)">
												<span class="checked-radio"></span>
											</span>
                    </div>
                  </div>
                  <div class="notification-details following" ng-init="checkWhetherAFollower(data.createdBy);">
                    <button ng-show="loggedInUserFollowing" class="following-btn">Following</button>
                    <button ng-hide="loggedInUserFollowing"  ng-click="followUserUpdate(data.id,data.userId,'follow')" class="following-btn">Follow</button>
                  </div>
                </div>
              </div>
            </div>
					</div>
					<div class="section-right position-relative">
						<div class="comment-right-tools">
							<div class="voting-up  position-relative">
                <span class="glyphicon glyphicon-hand-up up-vote-icons"
                      ng-show="data.voteDetails.pushActivate && userdata.pushAvailabilityNo > 0 && (!checkOwnerOfThePost(data.userId))"
                      ng-click="doPushUpVote(data.id,data.voteDetails.voteCount,$index);disablePushforThisPost=true;data.voteDetails.pushActivated=true;"
                ><span>{{userdata.pushAvailabilityNo}}</span></span>
								<button type="button"
                        class="glyphicon glyphicon-menu-up"
                        ng-disabled="data.voteDetails.upVote"
                        ng-class="{ClickedStatusYes : data.voteDetails.upVote}"
                        ng-click="doUpVote(data.id,data.voteDetails.voteCount);upVoteAvail=false;downVoteAvail=true;"
                ></button>
							</div>
							<div class="vote-counter">{{data.voteDetails.voteCount|| 0}}</div>
							<div class="voting-down position-relative">
                <span class="glyphicon glyphicon-warning-sign down-vote-icons"
                      ng-show="(data.voteDetails.reportedNSFW  && (!checkOwnerOfThePost(data.userId)))"
                      ng-click="downVotedTag(data.id,data.title);"
                ></span>
								<button type="button"
                        class="glyphicon glyphicon-menu-down"
                         ng-disabled="data.voteDetails.downVote"
                         ng-class="{ClickedStatusYes : data.voteDetails.downVote}"
                         ng-click="doDownVote(data.id,data.voteDetails.voteCount);upVoteAvail=true;downVoteAvail=false;">
                </button>
							</div>
							<div class="margin-top20px">
								<button type="button" class="glyphicon glyphicon-plus-sign" ng-click="savePost(data.id);addTagsExpand(data.userId);"></button>
								<div class="vote-counter">{{data.saveCount}}</div>
							</div>
						</div>
					</div>
                </div>
				<div class="individual-comment-post-footer">
					<div class="comment-post-footer--left">
						<div class="no-of-comments" ng-click="postExpention(false,false,true);openCommentsSection = true;resetCommentsSection();resetPostErrors();">

							<div class="row">
							     	<div class="col-lg-1 col-md-1 col-sm-1">
								   		<span></span>
								   	</div>
								   	<div class="col-lg-11 col-md-11 col-sm-11 comment-titles">COMMENTS :</div>
							     </div>
							     <span class="total-no-of-comments">{{data.comments.length}}</span>
						</div>
						<div class="comments">
            <div ng-show="data.comments.length > 0">
						<span class="titles"
                  ng-init="checkHighestLikedComment(data.comments)"> <b><i>{{displayCommentedBY | uppercase}}</i>:</b></span>
              <span class="more-comments">{{displayComment}}</span>
            </div>
						<span ng-show="data.comments.length == 0" class="no-comments" > -- No comments yet -- </span>
						</div>
					</div>
          <!-- Tag section -->
					<div class="comment-post-footer--middle">
						<span class="titles">TAGS :</span>
						<div class="clear-both"></div>
                <span   ng-show="data.tags.length > 0">
									<span class="tags" ng-repeat="tag in data.tags track by $index | limitTo : 4">{{tag | uppercase}}</span>
								</span>
								<span  align="center" ng-show="data.tags === undefined || data.tags.length === 0">
									<p><i>-- No Tags yet --</i></p>
								</span>
					</div>
          <!--End of Tag section -->
          <!-- Label section -->
					<div class="comment-post-footer--right">
                <span class="titles">LABEL :</span>
                <div class="clear-both"></div>
                <span class="tags" data-ng-if="data.postCategory !=='____'">
                  {{data.postCategory}}
                </span>
                <span data-ng-if="data.postCategory !=='____'" class="label-icon icon glyphicon"
                  data-ng-class="{
                                        'visual-icon': data.postType === 'GENERAL',
					            						      'glyphicon-arrow-right': data.postType==='LINK',
					            						      'glyphicon-question-sign': data.postType==='QUESTION',
					           							      'glyphicon-picture': data.postType==='VISUAL',
					            						      'glyphicon-calendar': data.postType==='EVENT'

					          						  }">
						    </span>
                <div class="tags" data-ng-if="data.postCategory ==='____'">
                  {{data.postUserInputCategory}}
                </div>
					</div>
          <!-- End of label section -->
				</div>
				<div class="addtagsbox" ng-show="openAddTagsExpansion" draggable-element='dragOptions' style="width:500px;">
				  <div class="position-relative">
				  	<div style="text-align:left">
			  		  <label>Add tags :</label>
					  <span class="glyphicon glyphicon-remove" ng-click="toggleTagsModal();"></span>
					 </div>
					<div class="section-add-new-tags" ng-show="openAddTagsExpansion && !openCommentsSection">
		              <input type="text" placeholder="Add tags, separated by commas (Optional)" ng-model="data.tagsAdded"></input>
		              <!-- <button type="button" class="add-tags" ng-disabled="data.tagsAdded==''"  ng-click="updateTagsAdded(data.id,data.tagsAdded);">DONE</button> -->
		            </div>
		            <div>
			            <button class="btn btn-primary btn-sm" ng-click="toggleTagsModal();updateTagsAdded(data.id,data.tagsAdded);">Save Tags</button>
							&nbsp;
						<button class="btn btn-default btn-sm" ng-click="toggleTagsModal();">Maybe later</button>
		            </div>
					  </div>
					</div>
				  </div>
				</div>
            </div>
           </div>

        </div>
    </div>
    <div class="clear-both"></div>
</div>
<div data-ng-show="openCommentSection" style="margin-top: 10px;">
  <div class="relative-post-comment-container">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-8">
            <div class="back-to-post">
              <span class="glyphicon glyphicon-menu-left" ng-click="postExpention(false,true,false);openCommentsSection=false;comment=false;resetPostErrors();checkHighestLikedComment(data.comments);"></span>
              <span>Comments</span>
            </div>
          <div class="row margin0">
            <div class="col-xs-12 padding0 margin-top20">
              <div class="commentsSection">
                <div align="center" ng-show="data.comments === undefined || data.comments.length === 0">
                  <i>-- No Comments yet --</i>
                </div>

                <div ng-repeat="commentPick in data.comments | orderBy : '-commentId'">
                  <div class="position-relative margin-bottom30" ng-show="commentPick.showcomments">
                    <div class="commentBox">
                        <span><span class="bold-font blue-font-color commented-by">- {{commentPick.commentPostedBy}}</span> {{commentPick.commentContent}}</span>
                        <div>
                          <ul class="commentsEntryVote">
                            <li>
                              <button ng-show="commentPick.commentVoteDetails.upVote"
                                      ng-disabled="commentPick.commentVoteDetails.upVote"
                                      ng-click="doCommentUpVote(data.id,commentPick.commentId,$index);upVoteCommentAvail=false;downVoteCommentAvail=true;"
                                      class="glyphicon glyphicon-menu-up ClickedStatusYes comment-voting-icon">
                              </button>
                              <button ng-hide="commentPick.commentVoteDetails.upVote"
                                      ng-disabled="commentPick.commentVoteDetails.upVote"
                                      ng-click="doCommentUpVote(data.id,commentPick.commentId,$index);upVoteCommentAvail=false;downVoteCommentAvail=true;"
                                      class="glyphicon glyphicon-menu-up comment-voting-icon">
                              </button>
                            </li>
                            <li class="vote-count"><span>{{commentPick.commentVoteDetails.voteCount || 0}}</span></li>
                            <li>
                              <button ng-show="commentPick.commentVoteDetails.downVote"
                                      ng-disabled="commentPick.commentVoteDetails.downVote"
                                      ng-click="doCommentDownVote(data.id,commentPick.commentId,$index);upVoteCommentAvail=true;downVoteCommentAvail=false;"
                                      class="glyphicon glyphicon-menu-down ClickedStatusYes comment-voting-icon">
                              </button>
                              <button ng-hide="commentPick.commentVoteDetails.downVote"
                                      ng-disabled="commentPick.commentVoteDetails.downVote"
                                      ng-click="doCommentDownVote(data.id,commentPick.commentId,$index);upVoteCommentAvail=true;downVoteCommentAvail=false;"
                                      class="glyphicon glyphicon-menu-down comment-voting-icon">
                              </button>
                            </li>
                          </ul>
                        </div>
                    </div>
                    <button class="btn btn-default btn-reply" ng-click="commentPick.showreplies=!commentPick.showreplies;showrepliesfunc(commentPick.replies,commentPick.showreplies,commentPick.commentId);expandReplies($index,commentPick.showreplies);">replies ({{commentPick.replies.length || 0}})</button>
                  </div>

                  <div ng-show="commentPick.showcommentsreplies">
                      <div class="replyCommentExpansion">
                        <div ng-repeat="reply in commentPick.replies">
                        <div class="replies">
                          <p class="font-size-14"><b><i>{{reply.replyCommentBy}}</i> :</b> {{reply.replyCommentContent}}</p>
                          <p class="replyCommentLikeStyle marginTop5">
                            <button class="glyphicon glyphicon-menu-up replyCommentLikeStatusLiked" ng-show="reply.postReplyCommentVote.upVote" ng-click="clickedOnReplyCommentLikeButton($index,$parent.$index,commentPick.replies[$index].replyId)"></button>
                            <button class="glyphicon glyphicon-menu-up replyCommentLikeStatusNotLiked" ng-hide="reply.postReplyCommentVote.upVote" ng-click="clickedOnReplyCommentLikeButton($index,$parent.$index,commentPick.replies[$index].replyId)"></button>
                            {{reply.postReplyCommentVote.voteCount || 0}}</p>
                         </div>
                        </div>
                        <textarea  class="newReplyCommentTextField marginTop5" ng-model="newreplymsgcontent"></textarea>
                        <input class="btn marginTop5 replay-comment" type="button" value="Reply" user-enter-key-press="callEnterFunc($event)"
                               ng-click="postReply(data.id,newreplymsgcontent,parentCommentIdForReply,$index);newreplymsgcontent='';">

                        <span class="customized-error-message-small" ng-show="newreplymsgcontent==''"><h6>{{errorMessageForReply}}</h6></span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 position-relative" ng-show=true ng-init="newComment=''">
        	<div class="comment-right-section">
	           <div class="comment-post-info">
					<img ng-src="{{data.imgPathDisplay}}" alt="Image" />
					<h4 ng-show="data.postType==='GENERAL'">{{data.title|truncate:titleCharCount}}</h4>
					<h4 ng-show="data.postType==='VISUAL'">{{data.title|truncate:titleCharCount}}</h4>
					<h4 ng-show="data.postType==='QUESTION'">{{data.title|truncate:titleCharCount}}</h4>
					<h4 ng-show="data.postType==='LINK'"><a href={{data.title}} target="_blank">{{data.title|truncate:titleCharCount}}</a></h4>
					<h4 ng-show="data.postType==='EVENT'" ng-init="formatDate(data.eventDate)">{{eventDateDisplay}}</h4>
	           </div>
	          <div class="post-comment-description position-relative">
	       		  <p ng-show="data.postType==='GENERAL'">{{data.body|truncate:bodyCharCount}}</p>
	              <p ng-show="data.postType==='VISUAL'">{{data.body|truncate:bodyCharCount}}</p>
	              <p ng-show="data.postType==='QUESTION'">{{data.body|truncate:bodyCharCount}}</p>
	              <p ng-show="data.postType==='LINK'">{{data.body|truncate:bodyCharCount}}</p>
	              <p ng-show="data.postType==='EVENT'">{{data.title|truncate:bodyCharCount}}</p>
	              <span class="post-comment-by-user text-capitalize" ng-show="data.anonymous==false">- {{data.username}}</span>
	          </div>
          </div>
          <div class="section-comment-entry">
              <h4>Comment Entry :</h4>
              <textarea  class="newCommentTextField" ng-model="newComment"></textarea>
              <button type="button" class="btn button-save pull-right" user-enter-key-press="callEnterFunc($event)" ng-click="postComment(data.id,newComment,data.userId); resetCommentsSectionOnComment(); newComment='';">Save <span class="glyphicon glyphicon-menu-right"></span></button>
              <span class="customized-error-message-small" ng-show="newComment==''">{{errorMessageForComment}}</span>
          </div>
          <div ng-include="'views/templates/voterelateddetails.html'"></div>
        </div>
      </div>
    </div>
</div>
