
<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-2"></div>
	<div class="col-lg-8 col-md-8 col-sm-8">
	
		<div class="row" ng-show="isLoggedIn">
		   <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:33px;">
		     <button user-enter-key-press="callEnterFunc($event)" ng-click="reloadMainWall();clearFlagsOnPageLoad();" class="btn btn-create">Back</button>
		   </div>
		</div>
		<br>
  		     <div class="row alert alert-danger textaligncenter" role="alert" ng-show="rootData.error">
    			{{rootData.error}}
  			</div>
		<div class="row main"  ng-show="isLoggedIn">
			<post
				ng-repeat="post in data.posts"
				data="post" 
				fulldata="data"
				userdata = "userData"
				selecteddisplaycriteria = "selectedDisplayCriteria"
				showreplies="showreplies"
				showrepliesfunc="showrepliesfunc(replyObj)" 
				title-char-count="50"
				body-char-count="100" 
				show-type-icon="true"
				expand="toggleExpansion(post.id)"
				expandpost="expandpost(post.id)"
				expanded-post-id="{{expandedPost}}"
				></post>
		    
		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2"></div>
</div>