<div class="right-section-controllers">
    <div class="position-relative">
        <div>
            <ul>
                <!-- <li ng-click="expand()" class="glyphicon glyphicon-remove close-post"></li> -->
                <li>
                    <button ng-hide="data.voteDetails.upVote" ng-disabled="data.voteDetails.upVote" ng-click="doUpVote(data.id,data.voteDetails.voteCount);upVoteAvail=false;downVoteAvail=true;" class="glyphicon glyphicon-menu-up">
                    </button>
                    <button ng-show="data.voteDetails.upVote" ng-disabled="data.voteDetails.upVote" ng-click="doUpVote(data.id,data.voteDetails.voteCount);upVoteAvail=false;downVoteAvail=true;" class="glyphicon glyphicon-menu-up ClickedStatusYes">
                    </button>
                </li>
                <li class="vote-count"><span>{{data.voteDetails.voteCount|| 0}}</span></li>
                <li>
                    <button ng-hide="data.voteDetails.downVote" ng-disabled="data.voteDetails.downVote" ng-click="doDownVote(data.id,data.voteDetails.voteCount);upVoteAvail=true;downVoteAvail=false;" class="glyphicon glyphicon-menu-down">
                    </button>
                    <button ng-show="data.voteDetails.downVote" ng-disabled="data.voteDetails.downVote" ng-click="doDownVote(data.id,data.voteDetails.voteCount);upVoteAvail=true;downVoteAvail=false;" class="glyphicon glyphicon-menu-down ClickedStatusYes">
                    </button>
                </li>
            </ul>
        </div>

        <div class="row">
            <div>
                <ul>
                    <li class="comments-count">{{data.comments.length}}</li>
                    <li>
                        <span class="plus-item-icon" ng-init="checkForSaved(data.id)">
                            <span class="glyphicon glyphicon-plus-sign" ng-hide="data.postSavedbythisUser" ng-click="savePost(data.id);" ng-disabled="data.postSavedbythisUser"></span>
                            <span class="glyphicon glyphicon-plus-sign ClickedStatusYes" ng-show="data.postSavedbythisUser"></span>
                        </span>
                    </li>
                    <li class="plus-count">{{data.saveCount}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>