<div class="main" ng-init="showTypeSelectPosts=true;showSearchPosts=false;">

<div class="row margin0" ng-show="rootData.isLoggedIn">
 	<div class="col-xs-12 padding-top5">
 	<div class=" haeder-section">
 	<div class="row margin0">
		<category-filter ng-if="rootData.isLoggedIn" categories-chosen="selectedCategories"></category-filter>
	</div>
	<div class="row margin0 post-filter-items">
		  <span class="common-section" ng-show="rootData.isLoggedIn">
			<span class="all-off-post" ng-show="rootData.isLoggedIn">
				<a href="javascript:void(0)">
				 <img  ng-click="switchOffTypesCategories();" ng-src="./images/moon.png" height="30" width="35" data-toggle="tooltip" data-placement="top" title="All Off">
				</a> 
		    </span>
			  <span class="all-on-post" ng-show="rootData.isLoggedIn">
			  <a href="javascript:void(0)">
			  	<img  ng-click="switchOnTypesCategories();" ng-src="./images/sun.png" height="30" width="35" style="margin-right:10px;" data-toggle="tooltip" data-placement="top" title="All On">
			  </a> 
			  </span>
		  </span>
		  <span class="all-off-post" ng-if="rootData.isLoggedIn"	ng-hide="isCreatingPost">
			  <button class="btn btn-sm btn-default createButton"	ng-click="togglePostCreation();">
					<i class="glyphicon glyphicon-edit"></i>
			   </button>
		   </span>

		<!-- Type -->
		<div class="recent-filter" ng-show="rootData.isLoggedIn">
			<span>
				<select class="form-control" name="selectDisplayCriteria" ng-model="selectedDisplayCriteria" ng-change="resetThePosts(selectedDisplayCriteria)" id="selectDisplayCriteria">
					<option ng-repeat="criteria in displayCriterias">{{criteria}}</option>
				</select>
			</span>
		</div>
	   	<div class="filter-type" ng-show="rootData.isLoggedIn">
	   		<span class="down-arrow"></span>
			<input type="button" class="MainScreenTypeButton btn btn-default full-width no-border no-border-radius" value="Types"
			       ng-click="showTypeCheckSection= !showTypeCheckSection;clearFlagsOnPageLoad();"
			        />
		<!-- 	        ng-dblclick="showTypeSelectPosts =! showTypeSelectPosts;clearFlagsOnPageLoad();" -->
			<ul ng-show="showTypeCheckSection">
				<li ng-repeat="type in scrollTypeMainScreenOptions"	style="list-style: none;">
				   <span><input	class="typeCheckBox" type="checkbox" value={{type}} name="types" id="checkboxid" ng-checked=true
						      ng-click="clearFlagsOnPageLoad();"><!-- ng-checked=typesAllOn -->
						<span>&nbsp;{{type | capitalize}}</span>
					</span>
				</li>
			</ul>
		</div>
		<!-- End of type -->
	 </div>
		<!-- Google Map :: Start -->
		<div class="row margin0">
			<div class="col-sm-3 padding0">
			  	<div class="position-relative google-map" ng-show="data.posts.length >0 && rootData.isLoggedIn" align="center">
					<div id="wordsCloud"  class="sidebar-text">
					   <word-cloud words="tagCloud.words" width="tagCloud.width" height="tagCloud.height"
					         padding="10" 
					         rotate="tagCloud.rotate" 
					         random="tagCloud.random" 
					         use-tooltip="tagCloud.useTooltip" 
					         use-transition="tagCloud.useTransition" 
					         on-click="tagCloud.wordClicked">
					   </word-cloud>
					</div>
				</div>
			 </div>
			<div class="col-sm-6 padding0">
			  	<div class="position-relative google-map" ng-show="data.posts.length >0 && rootData.isLoggedIn" align="center">
					<div class="feedWorldViewSection" ng-controller="feedController" ng-init="worldMap=true;heatMap=false;">
						<div ng-show="worldMap"  class="worldMap" id="map"></div>
						<div ng-show="heatMap" class="worldMap heat-map" id="regions_div"></div>
						<div class="mapToggleButtons">
						    <span class="col-lg-6 glyphicon glyphicon-align-justify mapType" ng-click="worldMap=true;heatMap=false;">
							  </span>
							<span class="col-lg-6 glyphicon glyphicon-globe mapType" ng-click="worldMap=false;heatMap=true;">
							</span>
						</div>
					</div>
				</div>

			  </div>
			  <div class="col-sm-3 padding0">
			  	<div class="position-relative google-map" ng-show="data.posts.length >0 && rootData.isLoggedIn" align="center">
					<div style="height:270px;">
					   			<div ng-repeat="post in topPosts">
					   			<div class="container" style="width:270px;height:90px;">
								  <div class="row justify-content-start top-post-small">
								    <div class="col-xs-2 top-post-small-col">
								      <img class="top-post-small-img" ng-src="{{post.userpicurl}}"/>
								    </div>
								    <div style="margin-left:30%">
								      <blockquote class="blockquote blockquote-reverse" style="text-align: left;">
										  <p class="mb-0">
											<span class="top-post-small-text" ng-show="post.title && isUrl(post.title)">
											<a href="{{post.title}}" target="_blank">{{post.title|truncate:25}}</a></span>
											<span class="top-post-small-text" ng-show="post.title && !isUrl(post.title)">{{post.title|truncate:40}}</span>
											<span class="top-post-small-text" ng-hide="post.title">{{post.body|truncate:40}}</span>
										  </p>
										  <footer class="blockquote-footer"><span class="post-created-by-top-posts"> {{post.username}}</span></footer>
										</blockquote>
								    </div>
								  </div>
								</div>
					   			</div>
					</div>
				</div>
			 </div>
	 	  </div>
		  <!-- Google Map :: EndS -->
	</div>
	<!-- Added for Error display on main screen -->
	<div ng-show="showErrorMessageOnMainScreen"	class="alert alert-danger alert-dismissable textaligncenter">
		<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Error! </strong>{{error}}
	</div>

    <!-- Added for Success display on main screen -->
	<div ng-show="showSuccessMessageOnMainScreen"	class="alert alert-success alert-dismissable textaligncenter">
		<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Success! </strong>{{success}}
	</div>

	<div class="row marB10" ng-show="isCreatingPost">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<create-post toggle="togglePostCreation()"></create-post>
		</div>
	</div>


<!-- This set of posts are displayed on main wall - START -->
	<div class="row" infinite-scroll="nextPosts()" infinite-scroll-disabled="disableNextPostBtn" ng-show=" !tagClicked && !showSearchPostsTypes && showTypeSelectPosts && rootData.isLoggedIn && (selectedDisplayCriteria !== 'Saved' && selectedDisplayCriteria !== 'My Posts' && selectedDisplayCriteria !== 'Following')">
		<!-- <div class="col-lg-12 col-md-12 col-sm-12" infinite-scroll="callScrollFunction()"> -->
		<div class="col-lg-12 col-md-12 col-sm-12">
			<post
				ng-repeat="post in data.posts | filter: showTypeSelectedPostsOnly | orderBy : customSort(selectedDisplayCriteria) : true as filtered_showTypeposts"
				data="post"
				fulldata="data"
				userdata = "userData"
				selecteddisplaycriteria = "selectedDisplayCriteria"
				showreplies="showreplies"
				showrepliesfunc="showrepliesfunc(replyObj)"
				title-char-count="50"
				body-char-count="100"
				show-type-icon="true"
				expand="toggleExpansion(post.id)"
				expandpost="expandpost(post.id)"
				expanded-post-id="{{expandedPost}}"
				ng-if="isNotFilteredOut(post.postCategory)"></post>
				<div ng-show="activateInfiniteScrollLoader" class="generalfontcolor">Loading...</div>
				<div ng-show="filtered_showTypeposts.length === 0 && rootData.isLoggedIn" class="noidsearchmsg">
					<!-- <h5  class="generalfontcolor">There are no id's to be displayed, but we encourage you to post the first!</h5> -->
					<h5  class="generalfontcolor"></h5>
				</div>
		</div>
	</div>
<!-- This set of posts are displayed on main wall - END -->

<!-- This set of posts are displayed on SELECTION OF FOLLOWING SHOWME DROPDOWN - START -->
	<div class="row" ng-show="!showSearchPostsTypes && showTypeSelectPosts && rootData.isLoggedIn && selectedDisplayCriteria === 'Following'  && !tagClicked">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<post
				ng-repeat="post in data.posts | filter: showPostsBasedOnDisplayCriteria as filtered_showFollowingposts"
				data="post"
				fulldata="data"
				userdata = "userData"
				selecteddisplaycriteria = "selectedDisplayCriteria"
				showreplies="showreplies"
				showrepliesfunc="showrepliesfunc(replyObj)"
				title-char-count="50"
				body-char-count="100"
				show-type-icon="true"
				expand="toggleExpansion(post.id)"
				expandpost="expandpost(post.id)"
				expanded-post-id="{{expandedPost}}"
				></post>

				<div ng-show="filtered_showFollowingposts.length === 0 && rootData.isLoggedIn" class="noidsearchmsg">
					<h5  class="generalfontcolor">There are no id's from following users to display.</h5>
				</div>
		</div>
	</div>
<!-- This set of posts are displayed on SELECTION OF FOLLOWING SHOWME DROPDOWN - END -->

<!-- This set of posts are displayed on SELECTION OF SAVED SHOWME DROPDOWN - START -->
	<div class="row" ng-show="!showSearchPostsTypes && showTypeSelectPosts && rootData.isLoggedIn && (selectedDisplayCriteria === 'Saved' || selectedDisplayCriteria === 'My Posts')  && !tagClicked">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<post
				ng-repeat="post in data.serverPosts | filter: showTypeSelectedPostsOnly | orderBy : customSort(selectedDisplayCriteria) : true "
				data="post"
				fulldata="data"
				userdata = "userData"
				selecteddisplaycriteria = "selectedDisplayCriteria"
				showreplies="showreplies"
				showrepliesfunc="showrepliesfunc(replyObj)"
				title-char-count="50"
				body-char-count="100"
				show-type-icon="true"
				expand="toggleExpansion(post.id)"
				expandpost="expandpost(post.id)"
				expanded-post-id="{{expandedPost}}"
				></post>

				<div ng-show="data.serverPosts.length === 0 && rootData.isLoggedIn" class="noidsearchmsg">
					<h5  class="generalfontcolor">There are no id's to display.</h5>
				</div>
		</div>
	</div>
<!-- This set of posts are displayed on SELECTION OF SAVED SHOWME DROPDOWN - END -->

<!-- This set of posts are displayed on SEARCH - START -->
	<div class="row" ng-show="showSearchPostsTypes && showTypeSelectPosts && rootData.isLoggedIn && !tagClicked">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<post
				ng-repeat="post in data.posts | filter: (showTypeSelectedPostsOnly && showPostsBasedOnSearchText) | orderBy : customSort(selectedDisplayCriteria) : true as filtered_showTypeselectposts"
				data="post"
				fulldata="data"
				userdata = "userData"
				selecteddisplaycriteria = "selectedDisplayCriteria"
				showreplies="showreplies"
				showrepliesfunc="showrepliesfunc(replyObj)"
				title-char-count="50"
				body-char-count="100"
				show-type-icon="true"
				expand="toggleExpansion(post.id)"
				expandpost="expandpost(post.id)"
				expanded-post-id="{{expandedPost}}"
				ng-if="isNotFilteredOut(post.postCategory)"></post>

				<div ng-show="filtered_showTypeselectposts.length === 0 && rootData.isLoggedIn" class="noidsearchmsg">
					<h5 class="generalfontcolor">There​ ​are​ ​no id's​ ​that​ ​match​ ​your​ ​search,​ ​but​ ​we​ ​encourage​ ​you​ ​to​ ​be ​the​ ​first!</h5>
				</div>

		</div>
	</div>
<!-- This set of posts are displayed on SEARCH - START -->

<!-- This set of posts are displayed on SELECTION OF tags on tagCloud - START -->
	<div class="row" ng-show="!showSearchPostsTypes && showTypeSelectPosts && rootData.isLoggedIn && tagClicked">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<post
				ng-repeat="post in data.serverPosts | filter: showTypeSelectedPostsOnly | orderBy : customSort(selectedDisplayCriteria) : true"
				data="post"
				fulldata="data"
				userdata = "userData"
				selecteddisplaycriteria = "selectedDisplayCriteria"
				showreplies="showreplies"
				showrepliesfunc="showrepliesfunc(replyObj)"
				title-char-count="50"
				body-char-count="100"
				show-type-icon="true"
				expand="toggleExpansion(post.id)"
				expandpost="expandpost(post.id)"
				expanded-post-id="{{expandedPost}}"
				></post>

				<div ng-show="data.serverPosts.length === 0 && rootData.isLoggedIn" class="noidsearchmsg">
					<h5  class="generalfontcolor">There are no id's to display.</h5>
				</div>
		</div>
	</div>
<!-- This set of posts are displayed on SELECTION OF tags on tagCloud - END -->


	<div class="col-sm-2">
		<div ng-show="showSmallScrollLoader">
		      <div id="infinitefloatingBarsG">
      			<div class="blockG" id="rotateG_01"></div>
      			<div class="blockG" id="rotateG_02"></div>
      			<div class="blockG" id="rotateG_03"></div>
      			<div class="blockG" id="rotateG_04"></div>
      			<div class="blockG" id="rotateG_05"></div>
      			<div class="blockG" id="rotateG_06"></div>
      			<div class="blockG" id="rotateG_07"></div>
      			<div class="blockG" id="rotateG_08"></div>
      		</div>

		</div>
	</div>
 </div>
</div>



</div>
	<script type="text/javascript">
/* 		$(document).ready(function() {

			window.setTimeout(function() {
				$(".alert").fadeTo(1000, 0).slideUp(1000, function() {
					$(this).remove();
				});
			}, 1500);

		});	 */
	</script>
